doctype html
html(lang="en")
    include ../components/meta.pug

        link(rel="stylesheet", href="../resource/css/work.css")
        title h_7yo stud_o
    body#work_website 
        include ../components/nav.pug  

        header 
            .back_btn <
            .title webs_te 
        section
            .block
                img(src="", alt="")
                .title TITLE 
                .intro 
            .block
                .img
                .title TITLE 
                .intro
            .block
                .img
                .title TITLE    
                .intro     
            .block
                .img
                .title TITLE   
                .intro     
            .block
                .img
                .title TITLE 
                .intro

        include ../components/script.pug