doctype html
html(lang="en")
    include ../components/meta.pug

        link(rel="stylesheet", href="../resource/css/work.css")
        title h_7yo stud_o
    body#work 
        include ../components/nav.pug

        section#block

        include ../components/script.pug