doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='resource/img/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='resource/img/favicon/favicon-16x16.png')
        link(rel='manifest', href='resource/img/favicon/site.webmanifest')
        link(rel='mask-icon', href='resource/img/favicon/safari-pinned-tab.svg', color='#686868')
        meta(name='msapplication-TileColor', content='#00a300')
        meta(name='theme-color', content='#ffffff')
        meta(property="og:title" content="h_7yo stud_o")
        meta(property="og:description" content="h_7yo 黃啟祐作品集") 
        meta(property="og:type" content="website" ) 
        meta(property="og:url" content="https://sbsy1517.github.io/h7yoStudio/" ) 
        
        meta(name="twitter:title" content="h_7yo stud_o")
        meta(name="twitter:description" content="h_7yo 黃啟祐作品集")
        meta(name="twitter:url" content="https://sbsy1517.github.io/h7yoStudio/")
        meta(property="og:image" content="resource/img/logo/line.jpg")  
        meta(name="twitter:image" content="resource/img/logo/line.jpg")
        
        link(rel="stylesheet", href="resource/css/index.css")
        title h_7yo stud_o
    
    body.disable-scroll#index 

        include components/loading.pug
        include components/nav_index.pug
        
                
        header 
            .bg#bgCarousel.carousel.slide(data-bs-ride='carousel')
                .carousel-inner
                    .carousel-item.active
                        .title
                            p Hi! 
                            //- h1 我是黃啟祐

                        .bg_1#home_bg
                        

                    .carousel-item
                        .title
                            p Hi! 
                            h1 我是一名
                            p 網頁設計師
                            p web designer
                            a(href="pages/work_website.html").button#web_designer 
                                p 觀看作品
                        .bg_2#home_bg
                    .carousel-item
                        .title
                            p Hi! 
                            h1 我是一名
                            p 攝影師
                            p photographer
                            a(href="#").button
                                p 觀看作品
                        .bg_3#home_bg
                    .carousel-item
                        .title
                            p Hi! 
                            h1 我是一名
                            p 平面設計師
                            p graphic designer 
                            a(href="#").button
                                p 觀看作品
                        .bg_4#home_bg
                    .carousel-item
                        .title
                            p Hi! 
                            h1 我是一名
                            p 影片剪輯師
                            p graphic designer 
                            a(href="#").button
                                p 觀看作品
                        .bg_5

            //- h3
                a(href="mailto:h7yostudio@gmail.com") h7yostudio@gmail.com

            


        include components/script_index.pug
