doctype html
html(lang="en")
    include components/meta.pug

        link(rel="stylesheet", href="resource/css/index.css")
        title h_7yo stud_o
    body#work_video 
        include components/nav.pug

        include components/script.pug