doctype html
html(lang="en")
    include components/meta.pug

        link(rel="stylesheet", href="resource/css/work.css")
        title h_7yo stud_o
    body#work 
        include components/nav.pug

        section#work
            .bg#bgCarousel.carousel.slide(data-bs-ride='carousel')
                .carousel-inner
                    .carousel-item.active
                        .title
                            

                        .bg_1#home_bg
                        

                    .carousel-item
                        .title
                            
                            a(href="#").button#web_designer 
                                p 觀看作品
                        .bg_2#home_bg
                    .carousel-item
                        .title
                            
                            a(href="#").button
                                p 觀看作品
                        .bg_3#home_bg
                    .carousel-item
                        .title
                            
                            a(href="#").button
                                p 觀看作品
                        .bg_4#home_bg
                    .carousel-item
                        .title
                            
                            a(href="#").button
                                p 觀看作品
                        .bg_5 
            .boxxx
                .d-flex
                    a(href="work_website.html").wrap
                        .title webs_te
                        .carousel.slide.website(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                .carousel-item#website2
                                .carousel-item#website3
                    .wrap
                        .title graph_c
                        .carousel.slide.graphic(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                .carousel-item#graphic2
                                .carousel-item#graphic3
                .d-flex
                    .wrap
                        .title v_deo
                        .carousel.slide.video(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                .carousel-item#video2
                                .carousel-item#video3
                    .wrap
                        .title ph_to
                        .carousel.slide.photo(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                .carousel-item#photo2
                                .carousel-item#photo3

        include components/script.pug