@import "default.sass"
@import "navbar.sass"
@import "footer.sass"


    
body#about
    overflow-x: hidden
    min-width: 280px
    +sm
        padding: 0 10px

section
    padding-top: 50px
    .resume
        margin-top: 80px
        // height: 1000px
        width: 100%
        // border: 1px solid #000
        display: flex
        flex-direction: column
        +sm
            margin: 60px auto 0

            width: 400px
        +xm
            width: auto
        .about
            margin: 0 auto
            display: flex
            margin-top: 50px
            flex-direction: row-reverse
            +lg
                flex-direction: row
            +md
                flex-direction: column
                width: 530px
            +sm
                // width: 400px
                width: auto
            .image
                width: 400px
                height: 400px
                // border: 1px solid #000
                background-image: url(../img/about/profile.jpg)
                background-size: cover
                margin-left: 50px
                margin-top: 60px
                +xl-less
                    width: 300px
                    height: 400px
                    background-position: center 0
                +lg
                    margin-right: 50px
                    margin-left: 0
                    width: 250px
                    height: 450px
                    background-position: center 0
                    margin-top: 0
                +md
                    margin-right: 30px
                    width: 100%
                    height: 350px
                    background-position: center center
                    
                

            .intro
                width: 500px
                display: flex
                flex-direction: column
                justify-content: center
                font-family: lineJP, sans-serif
                +lg
                    width: 400px
                +md
                    display: none
                
                .title
                    font-size: 40px
                    +xl-less
                        font-size: 35px
                    +lg
                        // width: 300px
                    +md
                        font-size: 30px
                    
                span
                    font-family: lineJP, sans-serif
                    // display: inline-block
                    white-space: normal
                .content
                    font-size: 20px
                    margin-top: 20px
                    line-height: 1.6
                    font-weight: 300
                    letter-spacing: 1px
                    // white-space: nowrap
                    // word-break: break-all
                    .bold
                        font-weight: 500
                    .fw300
                        font-weight: 300
                    +xl-less
                        font-size: 20px
                    +md
                        font-size: 20px
                    

            .title.undermd
                font-size: 40px
                font-family: lineJP, sans-serif
                margin-top: 25px
                +md
                    font-size: 35px
                +sm
                    font-size: 30px
            .content.undermd
                font-size: 20px
                font-family: lineJP, sans-serif
                margin-top: 15px
                line-height: 1.5
                font-weight: 300
                
                .bold
                    font-weight: 500
                +md
                    display: block
                    letter-spacing: 1.2
                    line-height: 1.6
                +sm
                    font-size: 19px
        .about_exp
            margin: 100px auto 
            font-family: lineEN, sans-serif
            width: 950px
            +xl-less
                width: 850px
            +lg
                width: 700px
            +md
                width: 530px
            +sm
                width: 400px
            +xm
                width: auto
            .title_big
                font-size: 40px
                font-weight: 700
                margin-bottom: 40px
                +xl-less
                    font-size: 35px
            .exp_chart
                // margin-left: 30px
                display: flex
                +md
                    margin-left: 10px
                .exp
                    padding-left: 10px
                    +md
                        padding-left: 5px
                    .title
                        display: flex
                        align-items: center
                        border-left: 2px solid #000
                        font-weight: 500
                        .dot
                            width: 15px
                            height: 15px
                            background-color: black
                            transform: translateX(-8px)
                            border-radius: 50%
                        .wrap
                            img.under_sm
                                margin: 0
                                margin-left: 10px
                                top: 0
                                display: none
                                +sm
                                    display: block
                            h3
                                margin-left: 40px
                                font-size: 30px
                                line-height: 1.3
                                letter-spacing: 1.2px
                                +md
                                    margin-left: 20px
                                    font-size: 25px
                                +sm
                                    font-size: 22px
                                +xm
                                    font-size: 20px
                                span
                                    font-size: 20px
                                    
                                    +sm
                                        font-size: 18px
                            p
                                margin-left: 40px
                                font-size: 20px
                                font-weight: 300
                                margin-top: 10px
                                +md
                                    margin-left: 20px
                                +sm
                                    font-size: 18px
                                +xm
                                    font-size: 16px
                        img.over_sm
                            margin: 0 0 0 40px
                            top: 0
                            +sm
                                display: none
                        
                    .content
                        padding-left: 13px
                        padding-top: 20px
                        border-left: 2px solid #000
                        +sm
                            margin-top: 0
                        
                        

                        
                        p
                            margin-left: 40px
                            font-size: 22px
                            line-height: 1.3
                            font-weight: 300
                            // width: 550px
                            // height: 250px
                            padding-bottom: 100px
                            +xl-less
                                // width: 400px
                                font-size: 21px
                            +lg
                                width: auto
                                padding-bottom: 50px
                            +md
                                margin-left: 20px
                                font-size: 20px
                            
                        p.job
                            font-size: 18px
                            line-height: 1.6
                            font-weight: 300
                            margin-top: 20px
                            letter-spacing: 1px
                            +xm
                                font-size: 16px
                img
                    width: 200px
                    height: 200px
                    background-color: grey
                    margin-left: 40px
                    top: 50px
                    +md
                        width: 100px
                        height: 100px
            #one
                margin-top: 40px
                .line
                    height: 20px
                    width: 2px
                    background-color: black
                // .img
                //     margin-top: 20px
                //     +sm
                //         margin-top: 0
                        
        
            #three
                p
                    height: auto
                    padding-bottom: 0

        .about_skill
            margin: 0px auto
            font-family: lineEN, sans-serif
            width: 950px
            +xl-less
                width: 850px
                margin-top: 50px
            +lg
                width: 700px
            +md
                width: 530px
            
            +sm
                width: 400px
                margin: 50px auto 0
            +xm
                width: auto
            .title_big       
                font-size: 40px
                font-weight: 700
                margin-bottom: 40px     
                +xl-less 
                    font-size: 35px
                    // margin-bottom: 50px
                +sm
                    margin-bottom: 30px
            .d-flex
                justify-content: space-between
                flex-wrap: wrap
                .div
                    width: 280px
                    // height: 350px
                    // background-color: grey
                    // border: 1px solid #000
                    +xl-less
                        width: 250px
                    +lg
                        width: 45%
                        margin-bottom: 80px
                    +md
                        width: 100%
                    +sm
                        margin-bottom: 40px

                    img
                        width: 100px
                        // height: 100px
                        margin-bottom: 10px
                        +lg
                            width: 80px
                        +sm
                            margin-bottom: 10px
                            width: 70px
                        +xm
                            width: 50px
                    .title
                        font-size: 25px
                        font-weight: 500
                        margin-bottom: 10px
                        letter-spacing: 2px
                        +xm
                            font-size: 20px
                    .content
                        font-size: 18px
                        font-weight: 300
                        line-height: 1.6
                        letter-spacing: 1.5px
                        margin-top: 10px

        .about_icon
            margin: 50px auto 100px
            font-family: lineEN, sans-serif
            width: 950px
            +xl-less
                width: 850px
                margin-top: 0px
            +lg
                width: 700px
            +md
                width: 530px
            +sm
                width: auto
                margin-top: 40px
            .title_big
                font-size: 40px
                font-weight: 500px
                margin-bottom: 60px   
                +xl-less
                    margin-bottom: 50px   
                +sm
                    margin-bottom: 30px    
            .d-flex
                justify-content: space-between
                flex-wrap: wrap
                +lg
                    justify-content: start
                img
                    width: 80px
                    // height: 80px
                    background-color: grey
                    +lg
                        width: 60px
                        // height: 60px
                        margin-right: 20px
                        margin-bottom: 20px
                .adobe
                    width: 70px
                    align-self: center
                    +lg
                        width: 60px
                    +sm
                        width: 50px