@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Rg.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Th.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Eb.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}