@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@-webkit-keyframes slide {
  0% {
    left: -10%;
  }
  100% {
    left: -2000px;
  }
}
@keyframes slide {
  0% {
    left: -10%;
  }
  100% {
    left: -2000px;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 20;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 20;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Rg.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Th.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Eb.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_Rg.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_Th.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_XBD.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_He.woff2") format("woff2");
  font-weight: 1100;
  font-style: normal;
}
* {
  position: relative;
}

html, body {
  width: 100%;
}

.overmd {
  display: block;
}
@media (max-width: 768px) {
  .overmd {
    display: none;
  }
}

.undermd {
  display: none;
}
@media (max-width: 768px) {
  .undermd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.oversm {
  display: block;
}
@media (max-width: 576px) {
  .oversm {
    display: none;
  }
}

.undersm {
  display: none;
}
@media (max-width: 576px) {
  .undersm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  font-family: "lineEN", "lineJP", "oto Sans TC", "Helvetica", sans-serif;
  min-width: 280px;
}

@keyframes slide {
  0% {
    left: -10%;
  }
  100% {
    left: -2000px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 20;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
body.disable-scroll {
  overflow: hidden;
}

.loading-screen {
  background-color: white;
  height: 100vh;
  width: 100vw;
  min-height: 568px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  overflow: hidden;
}
.loading-screen img {
  position: absolute;
  width: 500px;
  top: 35%;
  left: 10%;
}
@media (max-width: 992px) {
  .loading-screen img {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .loading-screen img {
    width: 300px;
  }
}
@media (max-width: 576px) {
  .loading-screen img {
    width: 250px;
  }
}
@media (max-width: 414px) {
  .loading-screen img {
    width: 200px;
  }
}
.loading-screen .intro {
  position: absolute;
  font-weight: 500;
  font-size: 70px;
  word-spacing: 50px;
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .loading-screen .intro {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .loading-screen .intro {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .loading-screen .intro {
    font-size: 35px;
  }
}
@media (max-width: 414px) {
  .loading-screen .intro {
    font-size: 30px;
  }
}
.loading-screen .intro p {
  top: 60%;
  left: -10%;
  width: 30000px;
  font-weight: 500;
  font-family: lineEN, sans serif;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}
@media (max-width: 992px) {
  .loading-screen .intro p {
    top: 52%;
  }
}

body#index .loading-screen img#indeximg {
  display: block;
}
body#index .loading-screen img#others {
  display: none;
}

body#about .loading-screen img#indeximg, body#work_graphic .loading-screen img#indeximg, body#work_photo .loading-screen img#indeximg, body#work_video .loading-screen img#indeximg, body#work_website .loading-screen img#indeximg, body#work .loading-screen img#indeximg {
  display: none;
}
body#about .loading-screen img#others, body#work_graphic .loading-screen img#others, body#work_photo .loading-screen img#others, body#work_video .loading-screen img#others, body#work_website .loading-screen img#others, body#work .loading-screen img#others {
  display: block;
}

.loading-screen.fade-out {
  -webkit-animation: fadeOut 0.5s forwards;
          animation: fadeOut 0.5s forwards;
}

.z-index0 {
  z-index: 1;
}

header {
  position: relative;
  min-height: 500px;
}
header .d-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .d-flex .bg {
  height: 100vh;
  width: 50%;
  min-height: 400px;
}
header .d-flex .bg h1 {
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 2pt;
}
header .d-flex .bg h1, header .d-flex .bg p, header .d-flex .bg h2 {
  margin: 20px 0;
  font-size: 50px;
}
@media (max-width: 1200px) {
  header .d-flex .bg h1, header .d-flex .bg p, header .d-flex .bg h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  header .d-flex .bg h1, header .d-flex .bg p, header .d-flex .bg h2 {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  header .d-flex .bg h1, header .d-flex .bg p, header .d-flex .bg h2 {
    font-size: 25px;
  }
}
header .d-flex .bg .wrap {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10%;
}
@media (max-width: 576px) {
  header .d-flex .bg .wrap {
    margin-left: 0;
  }
}
header .d-flex .bg .wrap .card {
  width: auto;
  background-color: transparent;
  border: none;
}
header .d-flex .bg .wrap .card .carousel-inner {
  font-family: lineEN, sans-serif, "lineJP", sans-serif;
  font-weight: 500;
}
header .d-flex .bg .wrap .card .carousel-inner img {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media (max-width: 1200px) {
  header .d-flex .bg .wrap .card .carousel-inner img {
    padding-top: 15px;
    height: 90px;
  }
}
@media (max-width: 768px) {
  header .d-flex .bg .wrap .card .carousel-inner img {
    height: 80px;
    padding-top: 10px;
  }
}
@media (max-width: 576px) {
  header .d-flex .bg .wrap .card .carousel-inner img {
    height: 60px;
  }
}
header .d-flex .bg .wrap .card .carousel-inner .button {
  width: 200px;
  height: 50px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  margin-top: 50px;
}
@media (max-width: 1200px) {
  header .d-flex .bg .wrap .card .carousel-inner .button {
    margin-top: 35px;
  }
}
header .d-flex .bg .wrap .card .carousel-inner .button p {
  font-size: 20px;
}
header .d-flex .bg .wrap .card .carousel-inner .button:hover {
  background: black;
}
header .d-flex .bg .wrap .card .carousel-inner .button:hover p {
  color: white;
}
header .d-flex .bg_1 {
  background-image: url(../img/home3.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  width: 50%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.5s;
  transition: background-size 0.5s;
}
@media (max-width: 576px) {
  header .d-flex .bg_1 {
    width: 100%;
    background-image: url(../img/home4.jpg);
    background-position: bottom 20%;
    max-height: 1920px;
  }
}
header .d-flex .wrap_undersm {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 150px;
  padding: 0 30px;
}
@media (max-width: 414px) {
  header .d-flex .wrap_undersm {
    top: 120px;
  }
}
header .d-flex .wrap_undersm .bg_title {
  margin-bottom: 10px;
}
header .d-flex .wrap_undersm .bg_title p {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 2px;
}
header .d-flex .wrap_undersm .card {
  background-color: transparent;
  border: none;
}
header .d-flex .wrap_undersm .card .carousel-inner {
  font-family: lineEN, sans-serif, "lineJP", sans-serif;
  font-weight: 500;
}
header .d-flex .wrap_undersm .card .carousel-inner .wrap_out {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 414px) {
  header .d-flex .wrap_undersm .card .carousel-inner .wrap_out {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 414px) {
  header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position {
    width: 100%;
  }
}
header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position h1, header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position p, header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position h2 {
  font-size: 30px;
}
@media (max-width: 374px) {
  header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position h1, header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position p, header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position h2 {
    font-size: 25px;
  }
}
header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position h1, header .d-flex .wrap_undersm .card .carousel-inner .wrap_out .wrap_position h2 {
  margin-bottom: 15px;
}
header .d-flex .wrap_undersm .card .carousel-inner .wrap_out img {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 85px;
  padding-left: 20px;
}
@media (max-width: 414px) {
  header .d-flex .wrap_undersm .card .carousel-inner .wrap_out img {
    height: 80px;
    padding-left: 0;
    margin-bottom: 10px;
    padding-top: 0;
  }
}
header .d-flex .wrap_undersm .card .carousel-inner .button {
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  margin-top: 50px;
  background-color: #fff;
}
@media (max-width: 1200px) {
  header .d-flex .wrap_undersm .card .carousel-inner .button {
    margin-top: 35px;
  }
}
header .d-flex .wrap_undersm .card .carousel-inner .button p {
  font-size: 20px;
}
header .d-flex .wrap_undersm .card .carousel-inner .button:hover {
  background: black;
}
header .d-flex .wrap_undersm .card .carousel-inner .button:hover p {
  color: white;
}
@media (max-width: 576px) {
  header .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header .d-flex h3 {
  font-weight: 500;
  position: absolute;
  bottom: 30px;
  right: 80px;
}
header .d-flex h3 a {
  text-decoration: none;
  color: #000;
}
header .d-flex h3 a:hover {
  color: #5e5e5e;
}
header .d-flex .profile {
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header .d-flex .profile .img {
  height: 500px;
  width: 50%;
}
header .d-flex .fw500 {
  font-weight: 500;
}

.wrap_undersm {
  display: none;
}
@media (max-width: 576px) {
  .wrap_undersm {
    display: block;
  }
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}
nav .menu {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 768px) {
  nav .menu {
    display: none;
  }
}
nav .menu:hover {
  background-color: rgba(190, 190, 190, 0.43);
}
@media (max-width: 1366px) {
  nav .menu {
    padding: 0 80px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
@media (max-width: 992px) {
  nav .menu {
    padding: 0 40px;
  }
}
nav .menu .logo img {
  width: 200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
@media (max-width: 414px) {
  nav .menu .logo img {
    width: 160px;
  }
}
nav .menu .logo:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav .menu ul .about, nav .menu ul .work, nav .menu ul .contact {
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
nav .menu ul .about a, nav .menu ul .work a, nav .menu ul .contact a {
  text-decoration: none;
}
nav .menu ul .about a p, nav .menu ul .work a p, nav .menu ul .contact a p {
  display: block;
  color: black;
  font-family: "lineEN", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
nav .menu ul .about:hover p, nav .menu ul .work:hover p, nav .menu ul .contact:hover p {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 1366px) {
  nav .menu ul .about, nav .menu ul .work, nav .menu ul .contact {
    width: 150px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
@media (max-width: 992px) {
  nav .menu ul .about, nav .menu ul .work, nav .menu ul .contact {
    width: 130px;
  }
}
nav .menu ul li.work ul.sub-menu {
  position: absolute;
  top: 100%;
  background-color: #333;
  z-index: 4;
  width: 200px;
  display: none;
}
@media (max-width: 1366px) {
  nav .menu ul li.work ul.sub-menu {
    width: 150px;
  }
}
@media (max-width: 992px) {
  nav .menu ul li.work ul.sub-menu {
    width: 130px;
  }
}
nav .menu ul li.work:hover .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .menu ul li.contact {
  width: 250px;
}
@media (max-width: 1366px) {
  nav .menu ul li.contact {
    width: 200px;
  }
}
nav .menu ul li.contact a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0;
  color: white;
  font-family: "lineEN", sans-serif;
}
nav .menu ul li.contact a:hover {
  text-transform: uppercase;
}
nav .menu ul .sub-menu li {
  width: 100%;
}
nav .menu ul .sub-menu li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0;
  color: white;
  font-family: "lineEN", sans-serif;
}
nav .menu ul .sub-menu li:hover {
  text-transform: uppercase;
}
nav .menu.under_md {
  height: 100px;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
  display: none;
}
@media (max-width: 768px) {
  nav .menu.under_md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  nav .menu.under_md {
    padding: 0 30px;
  }
}
@media (max-width: 576px) {
  nav .menu.under_md {
    height: 80px;
  }
}
nav .menu.under_md .menu_icon {
  width: 60px;
  height: 60px;
  border: 1.8px solid #000;
  border-radius: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  cursor: pointer;
  z-index: 5;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_icon {
    width: 50px;
    height: 50px;
  }
}
nav .menu.under_md .menu_icon .icon_up {
  width: 28px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_icon .icon_up {
    width: 25px;
    top: 19px;
  }
}
nav .menu.under_md .menu_icon .icon_down {
  width: 28px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 35px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_icon .icon_down {
    width: 25px;
    top: 30px;
  }
}
nav .menu.under_md .open {
  -webkit-transform: translate(-30px, 40px);
          transform: translate(-30px, 40px);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
@media (max-width: 576px) {
  nav .menu.under_md .open {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    width: 60px;
    height: 60px;
  }
}
nav .menu.under_md .open .icon_up {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 19px;
  top: 39px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 40px;
}
@media (max-width: 576px) {
  nav .menu.under_md .open .icon_up {
    left: 11px;
    top: 29px;
    width: 35px;
  }
}
nav .menu.under_md .open .icon_down {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 39px;
  left: 19px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 40px;
}
@media (max-width: 576px) {
  nav .menu.under_md .open .icon_down {
    left: 11px;
    top: 29px;
    width: 35px;
  }
}
nav .menu.under_md .menu_sp {
  width: 100vw;
  height: 100vh;
  background-color: #d6d6d6;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
nav .menu.under_md .menu_sp ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 150px;
  left: 50px;
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp ul {
    left: 30px;
  }
}
@media (max-width: 414px) {
  nav .menu.under_md .menu_sp ul {
    left: 15px;
  }
}
nav .menu.under_md .menu_sp ul li {
  margin-bottom: 45px;
}
nav .menu.under_md .menu_sp ul li a {
  text-decoration: none;
  color: black;
  font-size: 100px;
  font-weight: 500;
  font-family: "lineEN", sans-serif;
}
@media (max-width: 768px) {
  nav .menu.under_md .menu_sp ul li a {
    font-size: 90px;
  }
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp ul li a {
    font-size: 55px;
  }
}
@media (max-width: 414px) {
  nav .menu.under_md .menu_sp ul li a {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  nav .menu.under_md .menu_sp ul li a {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  nav .menu.under_md .menu_sp ul li {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp ul li {
    margin-bottom: 30px;
  }
}
nav .menu.under_md .menu_sp ul li#home {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav .menu.under_md .menu_sp ul li#about {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav .menu.under_md .menu_sp ul li#work {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav .menu.under_md .menu_sp ul li#contact {
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav .menu.under_md .menu_sp a.logo_sp {
  position: absolute;
  right: 65px;
  bottom: 80px;
}
nav .menu.under_md .menu_sp a.logo_sp img {
  width: 200px;
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp a.logo_sp img {
    width: 160px;
  }
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp a.logo_sp {
    right: 38px;
    bottom: 40px;
  }
}
nav .menu.under_md .open_sp {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
nav .menu.under_md .open_sp ul li#home {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
nav .menu.under_md .open_sp ul li#about {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
nav .menu.under_md .open_sp ul li#work {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
nav .menu.under_md .open_sp ul li#contact {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

#work_website nav .menu {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.1);
}
#work_website nav .menu:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.2);
}