div
    // border: 1px solid #000
body
    // height: 2000px
    font-family: 'lineEN','lineJP','oto Sans TC','Helvetica', sans-serif
    min-width: 280px
        
@import "loading.sass"

header
    position: relative
    min-height: 500px
    .d-flex
        flex-direction: row
        .bg
            height: 100vh
            width: 50%
            min-height: 400px
            h1
                font-weight: bold

                margin-top: 20px
                letter-spacing: 2pt
            h1,p,h2
                margin: 20px 0
                font-size: 50px
                +xl-less
                    font-size: 40px
                +md
                    font-size: 35px
                +sm
                    font-size: 25px
            .wrap
                +y-center
                margin-left: 10%
                +sm
                    margin-left: 0
                .card
                    width: auto
                    background-color: transparent
                    border: none
                    .carousel-inner
                        
                        
                        font-family: lineEN, sans-serif, $font-familyJP, sans-serif
                        font-weight: 500
                        img
                            height: 100px
                            padding-top: 20px
                            padding-bottom: 10px
                            +xl-less
                                padding-top: 15px
                                height: 90px
                            +md
                                height: 80px
                                padding-top: 10px
                            +sm
                                height: 60px
                        .button
                            width: 200px
                            height: 50px    
                            border: 1px solid #000
                            display: flex
                            justify-content: center
                            align-items: center
                            text-decoration: none
                            color: #000
                            margin-top: 50px
                            +xl-less
                                margin-top: 35px
                            p
                                font-size: 20px
                            &:hover
                                background: black
                                p
                                    color: white   
        .bg_1
            background-image: url(../img/home3.jpg)
            background-size: cover
            background-position: bottom center
            height: 100vh
            width: 50%
            background-repeat: no-repeat
            transition: background-size 0.5s
            +sm
                width:100%
                background-image: url(../img/home4.jpg)
                background-position: bottom 20%
                max-height: 1920px

                // height: 500px
        .wrap_undersm
            // margin-top: 100px
            align-items: center
            position: absolute
            z-index: 5
            width: 100%
            top: 150px
            padding: 0 30px
            +xm
                top: 120px
            .bg_title
                // width: 30%
                // heigth: 300px
                margin-bottom: 10px
                p
                    font-weight: 500
                    font-size: 30px
                    line-height: 1.5
                    letter-spacing: 2px
            .card
                // margin-top: 100px
                // width: 70%
                background-color: transparent
                border: none
                .carousel-inner
                    
                    
                    font-family: lineEN, sans-serif, $font-familyJP, sans-serif
                    font-weight: 500
                    .wrap_out
                        width: 100% 
                        display: flex
                        align-items: center
                        // justify-content: space-between
                        +xm
                            flex-direction: column-reverse
                            align-items: start
                        .wrap_position
                            // width: 50%
                            +xm
                                width: 100%
                            h1,p,h2
                                font-size: 30px
                                +ip5
                                    font-size: 25px
                            h1,h2
                                margin-bottom: 15px
                        img
                            // height: 100px
                            padding-top: 20px
                            padding-bottom: 10px
                            height: 90px
                            // margin-left: 50px
                            padding-left: 20px
                            +xm
                                height: 80px
                                // margin-left: 0
                                padding-left: 0
                                margin-bottom: 10px
                                padding-top: 0
                    
                    .button
                        width: 100px
                        height: 50px    
                        border: 1px solid #000
                        display: flex
                        justify-content: center
                        align-items: center
                        text-decoration: none
                        color: #000
                        margin-top: 50px
                        background-color: #fff
                        +xl-less
                            margin-top: 35px
                        p
                            font-size: 20px
                        &:hover
                            background: black
                            p
                                color: white  

                // .work-btn
                    // z-index: 5
                    

                
                // .bg_2
                //     background-image: url(../img/home.jpg)
                //     background-size: cover
                //     background-position: center center
                //     height: 100vh
                // .bg_3
                //     background-image: url(../img/home.jpg)
                //     background-size: cover
                //     background-position: center center
                //     height: 100vh
                // .bg_4
                //     background-image: url(../img/home.jpg)
                //     background-size: cover
                //     background-position: center center
                //     height: 100vh
                // .bg_5
                //     background-image: url(../img/home.jpg)
                //     background-size: cover
                //     background-position: center center
                //     height: 100vh
        
        +sm
            flex-direction: column
        h3 
            font-weight: 500
            position: absolute
            bottom: 30px
            right: 80px
            a
                text-decoration: none
                color: #000
                &:hover
                    color: #5e5e5e

        .profile    
            position: absolute
            top: 30%
            display: flex
            justify-content: center
            width: 80%
            +x-center

            .intro    
                
            .img
                
                height: 500px
                width: 50%
        .fw500
            font-weight: 500

.wrap_undersm
    display: none
    +sm
        display: block


