body#work
    section#work
        position: relative
        font-family: lineEN, sans-serif
        margin-bottom: 0px
        top: 100px
        +md
            top: 0px
        +sm
            margin-bottom: 150px
            top: 0px
        .bg
            +over_md
            .carousel-inner
                
                .title
                    position: absolute
                    font-size: 50px
                    z-index: 2
                    +x-center
                    +y-center
                    h1
                        font-weight: bold
                        margin-top: 20px
                        letter-spacing: 2pt
                    h1,p
                        margin: 20px 0
                    p
                        
                .button
                    width: 200px
                    height: 50px    
                    border: 1px solid #000
                    display: flex
                    justify-content: center
                    align-items: center
                    text-decoration: none
                    color: #000
                    p
                        font-size: 20px
                    &:hover
                        background: black
                        p
                            color: white

                .bg_1
                    background-image: url(../img/home.jpg)
                    background-size: cover
                    background-position: bottom center
                    height: 80vh
                    width: 100%
                    background-repeat: no-repeat
                    transition: background-size 0.5s
                    +xl-less
                        height: 600px
                    +lg
                        height: 500px
                    
                    

                .bg_2
                    background-image: url(../img/home.jpg)
                    background-size: cover
                    background-position: center center
                    height: 80vh
                    +xl-less
                        height: 600px
                    +lg
                        height: 500px
                    
                    
                .bg_3
                    background-image: url(../img/home.jpg)
                    background-size: cover
                    background-position: center center
                    height: 80vh
                    +xl-less
                        height: 600px
                    +lg
                        height: 500px
                    
                .bg_4
                    background-image: url(../img/home.jpg)
                    background-size: cover
                    background-position: center center
                    height: 80vh
                    +xl-less
                        height: 600px
                    +lg
                        height: 500px
                    
                .bg_5
                    background-image: url(../img/home.jpg)
                    background-size: cover
                    background-position: center center
                    height: 80vh
                    +xl-less
                        height: 600px
                    +lg
                        height: 500px
                    
        
        .boxxx
            +md
                top: 100px
            .d-flex
                +md
                    flex-direction: column
                .wrap
                    width: 50%
                    position: relative
                    &:hover
                        .carousel.slide
                            filter: brightness(0.6)
                            transition-duration: 0.3s
                    +md
                        width: 100%
                    .title
                        position: absolute
                        top: 50px
                        left: 80px
                        z-index: 2
                        color: white
                        font-size: 60px
                        font-weight: 500
                        text-shadow: -1px 0px 10px rgba(90,90,90,0.8)
                        +xl-less
                            top: 30px
                            left: 40px
                            font-size: 40px

                    .website
                        .carousel-item
                            background-image: url(../img/website/0.jpg)
                            background-size: cover
                            background-position: center center
                            height: 500px
                            +xl-less
                                height: 350px
                            +lg
                                height: 300px
                            +md
                                height: 400px
                            +sm
                                height: 300px
                        
                        #website2
                            background-image: url(../img/website/01.jpg)
                        #website3
                            background-image: url(../img/website/fv3.jpg)
                        #website4
                            background-image: url(../img/website/fv4.jpg)
                        #website5
                            background-image: url(../img/website/fv55.jpg)
                        #website6
                            background-image: url(../img/website/13.jpg)
                        #website7
                            background-image: url(../img/website/27.jpg)
                        #website8
                            background-image: url(../img/website/16.jpg)    

                    .graphic
                        .carousel-item
                            background-color: #4cc1a0
                            height: 500px
                            +xl-less
                                height: 350px
                            +lg
                                height: 300px
                            +md
                                height: 400px
                            +sm
                                height: 300px
                        #graphic2
                            background-color: #77c1c2
                        #graphic3
                            background-color: #9692e0
                    .video
                        .carousel-item
                            background-image: url(../img/video/1.jpg)
                            background-size: cover
                            background-position: center center
                            height: 500px
                            +xl-less
                                height: 350px
                            +lg
                                height: 300px
                            +md
                                height: 400px
                            +sm
                                height: 300px
                        #video2
                            background-image: url(../img/video/2.jpg)
                        #video3
                            background-image: url(../img/video/3.jpg)
                        #video4
                            background-image: url(../img/video/4.jpg)
                        #video5
                            background-image: url(../img/video/5.jpg)
                        #video6
                            background-image: url(../img/video/6.jpg)
                        #video7
                            background-image: url(../img/video/7.jpg)
                        #video8
                            background-image: url(../img/video/8.jpg)


                    .photo
                        .carousel-item
                            background-image: url(../img/photo/profile/1.jpg)
                            background-size: cover
                            background-position: center center
                            height: 500px
                            +xl-less
                                height: 350px
                            +lg
                                height: 300px
                            +md
                                height: 400px
                            +sm
                                height: 300px
                        #photo2
                            background-image: url(../img/photo/profile/4.jpg)
                        #photo3
                            background-image: url(../img/photo/profile/2.jpg)
                        #photo4
                            background-image: url(../img/photo/profile/3.jpg)
                        #photo5
                            background-image: url(../img/photo/profile/8.jpg)
                        #photo6
                            background-image: url(../img/photo/profile/5.jpg)
                        #photo7
                            background-image: url(../img/photo/profile/6.jpg)
                        #photo8
                            background-image: url(../img/photo/profile/7.jpg)
                        #photo9
                            background-image: url(../img/photo/profile/8.jpg)
                        #photo10
                            background-image: url(../img/photo/view/45.jpg)
                        #photo11
                            background-image: url(../img/photo/view/46.jpg)
                        #photo12
                            background-image: url(../img/photo/view/47.jpg)
                        #photo13
                            background-image: url(../img/photo/view/48.jpg)
                        #photo14
                            background-image: url(../img/photo/view/49.jpg)
                        #photo15
                            background-image: url(../img/photo/view/50.jpg)
        
    footer
        top: 100px