body#work_graphic

    #one_img
        .img 
            background-image: url(../img/graphic/sousou/0.jpg) 
    #two_img
        .img 
            background-image: url(../img/graphic/covermark/0.jpg) 
    #three_img
        .img 
            background-image: url(../img/graphic/jeogseoul/0.jpg) 
    #four_img
        .img 
            background-image: url(../img/graphic/muji/0.jpg) 
    #five_img
        .img 
            background-image: url(../img/graphic/dandyhouse/0.jpg) 
    #six_img
        .img 
            background-image: url(../img/graphic/hopkins/0.jpg) 
    #seven_img
        .img 
            background-image: url(../img/graphic/sega/0.jpg)
    #eight_img
        .img 
            background-image: url(../img/graphic/dmm/0.jpg)
    #nine_img
        .img 
            background-image: url(../img/graphic/biccamera/0.jpg)
    #ten_img
        .img 
            background-image: url(../img/graphic/ibaraki/0.jpg)

    .modal
        .modal-body
            .wraper
                width: clamp(280px, 90%, 1200px)
                p
                    padding-bottom: 20px
                .d-flex
                    justify-content: space-between
                    flex-wrap: wrap
                    // align-items: flex-start
                    img
                        width: 48%
                        margin-bottom: 40px
                        box-shadow: -1px 0px 5px rgba(87, 87, 87, 0.4)
                        +md
                            width: 100%
                            margin-bottom: 20px
                        +xm
                            margin-bottom: 10px
                    .w100
                        width: 100%
                    .w-100
                        height: 50px