/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Rg.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Th.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "lineJP";
  src: url("../fonts/line/LINESeedJP_OTF_Eb.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_Rg.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_Th.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_XBD.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "lineEN";
  src: url("../fonts/line/LINESeedSans_W_He.woff2") format("woff2");
  font-weight: 1100;
  font-style: normal;
}
* {
  position: relative;
}

html, body {
  width: 100%;
}

.overmd {
  display: block;
}
@media (max-width: 768px) {
  .overmd {
    display: none;
  }
}

.undermd {
  display: none;
}
@media (max-width: 768px) {
  .undermd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.oversm {
  display: block;
}
@media (max-width: 576px) {
  .oversm {
    display: none;
  }
}

.undersm {
  display: none;
}
@media (max-width: 576px) {
  .undersm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body#work section#work {
  position: relative;
  font-family: lineEN, sans-serif;
  margin-bottom: 0px;
  top: 100px;
}
@media (max-width: 576px) {
  body#work section#work {
    top: 80px;
  }
}
@media (max-width: 768px) {
  body#work section#work .boxxx .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body#work section#work .boxxx .d-flex .wrap {
  width: 50%;
  position: relative;
}
body#work section#work .boxxx .d-flex .wrap:hover .carousel.slide {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 768px) {
  body#work section#work .boxxx .d-flex .wrap {
    width: 100%;
  }
}
body#work section#work .boxxx .d-flex .wrap .title {
  position: absolute;
  top: 50px;
  left: 80px;
  z-index: 2;
  color: white;
  font-size: 60px;
  font-weight: 500;
  text-shadow: 0px 0px 3px rgba(59, 59, 59, 0.8);
}
@media (max-width: 1200px) {
  body#work section#work .boxxx .d-flex .wrap .title {
    top: 30px;
    left: 40px;
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  body#work section#work .boxxx .d-flex .wrap .title {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  body#work section#work .boxxx .d-flex .wrap .title {
    top: 25px;
    left: 30px;
    font-size: 30px;
  }
}
body#work section#work .boxxx .d-flex .wrap .website .carousel-item {
  background-image: url(../img/website/0.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
}
@media (max-width: 1200px) {
  body#work section#work .boxxx .d-flex .wrap .website .carousel-item {
    height: 450px;
  }
}
@media (max-width: 992px) {
  body#work section#work .boxxx .d-flex .wrap .website .carousel-item {
    height: 400px;
  }
}
@media (max-width: 576px) {
  body#work section#work .boxxx .d-flex .wrap .website .carousel-item {
    height: 300px;
  }
}
body#work section#work .boxxx .d-flex .wrap .website #website2 {
  background-image: url(../img/website/01.jpg);
}
body#work section#work .boxxx .d-flex .wrap .website #website3 {
  background-image: url(../img/website/fv3.jpg);
}
body#work section#work .boxxx .d-flex .wrap .website #website4 {
  background-image: url(../img/website/fv4.jpg);
}
body#work section#work .boxxx .d-flex .wrap .website #website5 {
  background-image: url(../img/website/fv55.jpg);
}
body#work section#work .boxxx .d-flex .wrap .website #website6 {
  background-image: url(../img/website/13.jpg);
}
body#work section#work .boxxx .d-flex .wrap .website #website7 {
  background-image: url(../img/website/27.jpg);
}
body#work section#work .boxxx .d-flex .wrap .website #website8 {
  background-image: url(../img/website/16.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic .carousel-item {
  background-image: url(../img/graphic/sousou/0.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
}
@media (max-width: 1200px) {
  body#work section#work .boxxx .d-flex .wrap .graphic .carousel-item {
    height: 450px;
  }
}
@media (max-width: 992px) {
  body#work section#work .boxxx .d-flex .wrap .graphic .carousel-item {
    height: 400px;
  }
}
@media (max-width: 576px) {
  body#work section#work .boxxx .d-flex .wrap .graphic .carousel-item {
    height: 300px;
  }
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic2 {
  background-image: url(../img/graphic/covermark/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic3 {
  background-image: url(../img/graphic/muji/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic4 {
  background-image: url(../img/graphic/sega/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic5 {
  background-image: url(../img/graphic/dmm/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic6 {
  background-image: url(../img/graphic/dandyhouse/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic7 {
  background-image: url(../img/graphic/ibaraki/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic8 {
  background-image: url(../img/graphic/hopkins/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic9 {
  background-image: url(../img/graphic/biccamera/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .graphic #graphic10 {
  background-image: url(../img/graphic/jeogseoul/0.jpg);
}
body#work section#work .boxxx .d-flex .wrap .video .carousel-item {
  background-image: url(../img/video/1.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
}
@media (max-width: 1200px) {
  body#work section#work .boxxx .d-flex .wrap .video .carousel-item {
    height: 450px;
  }
}
@media (max-width: 992px) {
  body#work section#work .boxxx .d-flex .wrap .video .carousel-item {
    height: 400px;
  }
}
@media (max-width: 576px) {
  body#work section#work .boxxx .d-flex .wrap .video .carousel-item {
    height: 300px;
  }
}
body#work section#work .boxxx .d-flex .wrap .video #video2 {
  background-image: url(../img/video/2.jpg);
}
body#work section#work .boxxx .d-flex .wrap .video #video3 {
  background-image: url(../img/video/3.jpg);
}
body#work section#work .boxxx .d-flex .wrap .video #video4 {
  background-image: url(../img/video/4.jpg);
}
body#work section#work .boxxx .d-flex .wrap .video #video5 {
  background-image: url(../img/video/5.jpg);
}
body#work section#work .boxxx .d-flex .wrap .video #video6 {
  background-image: url(../img/video/6.jpg);
}
body#work section#work .boxxx .d-flex .wrap .video #video7 {
  background-image: url(../img/video/7.jpg);
}
body#work section#work .boxxx .d-flex .wrap .video #video8 {
  background-image: url(../img/video/8.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo .carousel-item {
  background-image: url(../img/photo/profile/1.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
}
@media (max-width: 1200px) {
  body#work section#work .boxxx .d-flex .wrap .photo .carousel-item {
    height: 450px;
  }
}
@media (max-width: 992px) {
  body#work section#work .boxxx .d-flex .wrap .photo .carousel-item {
    height: 400px;
  }
}
@media (max-width: 576px) {
  body#work section#work .boxxx .d-flex .wrap .photo .carousel-item {
    height: 300px;
  }
}
body#work section#work .boxxx .d-flex .wrap .photo #photo2 {
  background-image: url(../img/photo/profile/4.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo3 {
  background-image: url(../img/photo/profile/2.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo4 {
  background-image: url(../img/photo/profile/3.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo5 {
  background-image: url(../img/photo/profile/8.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo6 {
  background-image: url(../img/photo/profile/5.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo7 {
  background-image: url(../img/photo/profile/6.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo8 {
  background-image: url(../img/photo/profile/7.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo9 {
  background-image: url(../img/photo/profile/8.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo10 {
  background-image: url(../img/photo/view/45.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo11 {
  background-image: url(../img/photo/view/46.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo12 {
  background-image: url(../img/photo/view/47.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo13 {
  background-image: url(../img/photo/view/48.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo14 {
  background-image: url(../img/photo/view/49.jpg);
}
body#work section#work .boxxx .d-flex .wrap .photo #photo15 {
  background-image: url(../img/photo/view/50.jpg);
}
body#work footer {
  top: 100px;
}

body {
  overflow-x: hidden;
  min-width: 280px;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  body header {
    top: 140px;
  }
}
@media (max-width: 576px) {
  body header {
    top: 120px;
  }
}
body header .back_btn {
  left: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
  text-decoration: none;
}
@media (max-width: 992px) {
  body header .back_btn {
    left: 30px;
  }
}
@media (max-width: 576px) {
  body header .back_btn {
    left: 20px;
  }
}
body header .back_btn svg {
  display: block;
  width: 100px;
  fill: #898989;
}
@media (max-width: 1366px) {
  body header .back_btn svg {
    width: 80px;
  }
}
@media (max-width: 992px) {
  body header .back_btn svg {
    width: 60px;
  }
}
@media (max-width: 768px) {
  body header .back_btn svg {
    width: 50px;
  }
}
@media (max-width: 576px) {
  body header .back_btn svg {
    width: 40px;
  }
}
@media (max-width: 414px) {
  body header .back_btn svg {
    width: 30px;
  }
}
body header .back_btn .title_back {
  font-size: 100px;
  font-family: lineEN, sans-serif;
  font-weight: 500;
  padding-left: 40px;
}
@media (max-width: 1366px) {
  body header .back_btn .title_back {
    font-size: 80px;
    padding-left: 20px;
  }
}
@media (max-width: 992px) {
  body header .back_btn .title_back {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  body header .back_btn .title_back {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  body header .back_btn .title_back {
    font-size: 40px;
    padding-left: 10px;
  }
}
@media (max-width: 414px) {
  body header .back_btn .title_back {
    font-size: 35px;
  }
}
@media (max-width: 374px) {
  body header .back_btn .title_back {
    display: none;
  }
}
body header .back_btn:hover {
  color: black;
}
body header .back_btn:hover svg {
  fill: #000000;
}
body header .title {
  font-size: 100px;
  font-family: lineEN, sans-serif;
  font-weight: 500;
  right: 50px;
}
@media (max-width: 1366px) {
  body header .title {
    font-size: 80px;
  }
}
@media (max-width: 992px) {
  body header .title {
    font-size: 60px;
    right: 30px;
  }
}
@media (max-width: 768px) {
  body header .title {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  body header .title {
    font-size: 40px;
    right: 20px;
  }
}
@media (max-width: 414px) {
  body header .title {
    font-size: 35px;
  }
}
body section {
  top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1366px) {
  body section {
    top: 190px;
  }
}
@media (max-width: 768px) {
  body section {
    top: 150px;
  }
}
@media (max-width: 576px) {
  body section {
    top: 130px;
  }
}
body section .block {
  position: relative;
  margin: 20px auto;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 10px rgba(90, 90, 90, 0.4);
          box-shadow: -1px 0px 10px rgba(90, 90, 90, 0.4);
}
@media (max-width: 1366px) {
  body section .block {
    height: 500px;
  }
}
@media (max-width: 1200px) {
  body section .block {
    width: 800px;
    height: 450px;
  }
}
@media (max-width: 992px) {
  body section .block {
    width: 700px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  body section .block {
    width: 100%;
    margin: 20px 0;
  }
}
@media (max-width: 576px) {
  body section .block {
    height: 300px;
  }
}
body section .block:hover .img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
body section .block .img {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
}
body section .block .title {
  position: absolute;
  color: white;
  bottom: 30px;
  font-size: 50px;
  left: 40px;
  font-family: lineEN, lineJP, sans-serif;
  font-weight: 300;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #333;
  padding: 6px;
}
@media (max-width: 1366px) {
  body section .block .title {
    font-size: 45px;
    left: 40px;
  }
}
@media (max-width: 768px) {
  body section .block .title {
    font-size: 40px;
    text-shadow: -1px 0px 10px rgba(90, 90, 90, 0.8);
  }
}
@media (max-width: 576px) {
  body section .block .title {
    font-size: 25px;
    left: 10px;
    bottom: 12px;
  }
}
body section .block .more_undermd {
  display: none;
}
@media (max-width: 768px) {
  body section .block .more_undermd {
    display: block;
    width: 180px;
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
}
@media (max-width: 576px) {
  body section .block .more_undermd {
    right: 30px;
    bottom: 20px;
    width: 150px;
  }
}
@media (max-width: 414px) {
  body section .block .more_undermd {
    width: 120px;
    right: 10px;
  }
}
body section .block .white {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(58, 58, 58, 0.59));
          filter: drop-shadow(0px 0px 2px rgba(58, 58, 58, 0.59));
}
body section .block .black {
  -webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
          filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}
body section .block .intro {
  width: 100%;
  background-color: rgba(132, 132, 132, 0.8);
  height: 250px;
  position: absolute;
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
  bottom: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  padding: 40px;
}
@media (max-width: 768px) {
  body section .block .intro {
    display: none;
  }
}
body section .block .intro p {
  color: white;
  font-size: 23px;
  letter-spacing: 1.5pt;
  font-weight: 300;
  line-height: 1.7;
}
@media (max-width: 992px) {
  body section .block .intro p {
    font-size: 19px;
  }
}
body section .block .intro .more {
  padding: 10px;
  border: none;
  background-color: #fff;
  width: 150px;
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 30px;
}
@media (max-width: 992px) {
  body section .block .intro .more {
    width: 120px;
  }
}
body section .block:hover .intro {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body section .block:hover .title {
  -webkit-transform: translateY(-195px);
          transform: translateY(-195px);
  z-index: 5;
  text-shadow: -1px 0px 1px rgba(90, 90, 90, 0.8);
}
@media (max-width: 768px) {
  body section .block:hover .title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
body section #zero_img .img {
  background-image: url(../img/website/24.jpg);
}
body section #one_img .img {
  background-image: url(../img/website/0.jpg);
}
body section #two_img .img {
  background-image: url(../img/website/01.jpg);
}
body section #two_img .title {
  text-shadow: -1px 0px 10px rgba(90, 90, 90, 0.8);
}
body section #three_img .img {
  background-image: url(../img/website/fv3.jpg);
}
body section #three_img .title {
  text-shadow: -1px 0px 10px rgba(90, 90, 90, 0.8);
}
body section #four_img .img {
  background-image: url(../img/website/fv4.jpg);
}
body section #four_img .title {
  text-shadow: -1px 0px 10px rgba(90, 90, 90, 0.8);
}
body section #five_img .img {
  background-image: url(../img/website/fv55.jpg);
}
body section #five_img .title {
  text-shadow: -1px 0px 10px rgba(90, 90, 90, 0.8);
}
body section #six_img .img {
  background-image: url(../img/website/13.jpg);
}
body section #six_img .title {
  text-shadow: -1px 0px 10px rgba(90, 90, 90, 0.8);
}
body section #seven_img .img {
  background-image: url(../img/website/16.jpg);
}
body section #seven_img .title {
  text-shadow: -1px 0px 10px rgba(90, 90, 90, 0.8);
}
body section #eight_img .img {
  background-image: url(../img/website/27.jpg);
}
body section .modal .modal-header {
  border: none;
}
body section .modal .modal-header button {
  right: 50px;
  top: 50px;
  width: 40px;
  z-index: 5;
  background: none;
  display: block;
  padding: 0;
}
body section .modal .modal-header button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 768px) {
  body section .modal .modal-header button {
    top: 30px;
    right: 30px;
  }
}
@media (max-width: 576px) {
  body section .modal .modal-header button {
    top: 20px;
    right: 20px;
    width: 35px;
  }
}
body section .modal .modal-header svg {
  color: rgb(0, 0, 0);
  display: block;
}
body section .modal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body section .modal .modal-body .wraper {
  display: inline-block;
  width: clamp(280px, 80%, 900px);
}
@media (max-width: 414px) {
  body section .modal .modal-body .wraper {
    width: 100%;
  }
}
body section .modal .modal-body .wraper img {
  width: 100%;
}
body section .modal .modal-body .wraper h3 {
  margin-top: 100px;
  font-family: lineEN, sans-serif, lineJP, sans-serif;
  font-size: 60px;
  font-weight: 700;
  display: inline-block;
}
@media (max-width: 992px) {
  body section .modal .modal-body .wraper h3 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  body section .modal .modal-body .wraper h3 {
    font-size: 40px;
    margin-top: 50px;
  }
}
@media (max-width: 576px) {
  body section .modal .modal-body .wraper h3 {
    font-size: 32px;
    margin-top: 50px;
  }
}
@media (max-width: 414px) {
  body section .modal .modal-body .wraper h3 {
    font-size: 25px;
    margin-top: 25px;
  }
}
body section .modal .modal-body .wraper p {
  font-size: 22px;
  line-height: 1.5;
  margin-top: 15px;
}
@media (max-width: 768px) {
  body section .modal .modal-body .wraper p {
    font-size: 20px;
    display: block;
  }
}
@media (max-width: 576px) {
  body section .modal .modal-body .wraper p {
    font-size: 18px;
  }
}
body section .modal .modal-body .wraper img#fv {
  margin-top: 20px;
}
@media (max-width: 414px) {
  body section .modal .modal-body .wraper img#fv {
    margin-top: 10px;
  }
}
body section .modal .modal-body .wraper img#fv:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
body section .modal .modal-body .wraper img#fv2 {
  margin-top: 20px;
}
@media (max-width: 414px) {
  body section .modal .modal-body .wraper img#fv2 {
    margin-top: 10px;
  }
}
body footer {
  top: 230px;
}
@media (max-width: 768px) {
  body footer {
    top: 100px;
  }
}

body#work_graphic #one_img .img {
  background-image: url(../img/graphic/sousou/0.jpg);
}
body#work_graphic #two_img .img {
  background-image: url(../img/graphic/covermark/0.jpg);
}
body#work_graphic #three_img .img {
  background-image: url(../img/graphic/jeogseoul/0.jpg);
}
body#work_graphic #four_img .img {
  background-image: url(../img/graphic/muji/0.jpg);
}
body#work_graphic #five_img .img {
  background-image: url(../img/graphic/dandyhouse/0.jpg);
}
body#work_graphic #six_img .img {
  background-image: url(../img/graphic/hopkins/0.jpg);
}
body#work_graphic #seven_img .img {
  background-image: url(../img/graphic/sega/0.jpg);
}
body#work_graphic #eight_img .img {
  background-image: url(../img/graphic/dmm/0.jpg);
}
body#work_graphic #nine_img .img {
  background-image: url(../img/graphic/biccamera/0.jpg);
}
body#work_graphic #ten_img .img {
  background-image: url(../img/graphic/ibaraki/0.jpg);
}
body#work_graphic .modal .modal-body .wraper {
  width: clamp(280px, 90%, 1200px);
}
body#work_graphic .modal .modal-body .wraper p {
  padding-bottom: 20px;
}
body#work_graphic .modal .modal-body .wraper .d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body#work_graphic .modal .modal-body .wraper .d-flex img {
  width: 48%;
  margin-bottom: 40px;
  -webkit-box-shadow: -1px 0px 5px rgba(87, 87, 87, 0.4);
          box-shadow: -1px 0px 5px rgba(87, 87, 87, 0.4);
}
@media (max-width: 768px) {
  body#work_graphic .modal .modal-body .wraper .d-flex img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  body#work_graphic .modal .modal-body .wraper .d-flex img {
    margin-bottom: 10px;
  }
}
body#work_graphic .modal .modal-body .wraper .d-flex .w100 {
  width: 100%;
}
body#work_graphic .modal .modal-body .wraper .d-flex .w-100 {
  height: 50px;
}

body#work_video .modal .modal-body p {
  padding-bottom: 20px;
}
body#work_video .modal .modal-body .video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 30px;
}
body#work_video .modal .modal-body .video .yt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body#work_video .modal .modal-body .w-100 {
  height: 100px;
}
body#work_video #one_img .img {
  background-image: url(../img/video/1.jpg);
}
body#work_video #eight_img .img {
  background-image: url(../img/video/2.jpg);
}
body#work_video #two_img .img {
  background-image: url(../img/video/3.jpg);
}
body#work_video #three_img .img {
  background-image: url(../img/video/4.jpg);
}
body#work_video #four_img .img {
  background-image: url(../img/video/5.jpg);
}
body#work_video #five_img .img {
  background-image: url(../img/video/6.jpg);
}
body#work_video #six_img .img {
  background-image: url(../img/video/7.jpg);
}
body#work_video #seven_img .img {
  background-image: url(../img/video/8.jpg);
}
body#work_video #nine_img .img {
  background-image: url(../img/video/9.jpg);
}
body#work_video #ten_img .img {
  background-image: url(../img/video/10.jpeg);
}
body#work_video #eleven_img .img {
  background-image: url(../img/graphic/sousou/0.jpg);
}

body#work_photo #one_img .img {
  background-image: url(../img/photo/profile/1.jpg);
}
body#work_photo #two_img .img {
  background-image: url(../img/photo/view/61.jpg);
}
body#work_photo .modal .modal-body .wraper {
  width: clamp(280px, 90%, 1200px);
}
body#work_photo .modal .modal-body .wraper p {
  padding-bottom: 20px;
}
body#work_photo .modal .modal-body .wraper .d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body#work_photo .modal .modal-body .wraper .d-flex img {
  width: 48%;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  body#work_photo .modal .modal-body .wraper .d-flex img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  body#work_photo .modal .modal-body .wraper .d-flex img {
    margin-bottom: 10px;
  }
}
body#work_photo .modal .modal-body .wraper .d-flex .w-100 {
  height: 50px;
}

@-webkit-keyframes slide {
  0% {
    left: -10%;
  }
  100% {
    left: -2000px;
  }
}

@keyframes slide {
  0% {
    left: -10%;
  }
  100% {
    left: -2000px;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 20;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 20;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
body.disable-scroll {
  overflow: hidden;
}

.loading-screen {
  background-color: white;
  height: 100vh;
  width: 100vw;
  min-height: 568px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  overflow: hidden;
}
.loading-screen img {
  position: absolute;
  width: 500px;
  top: 35%;
  left: 10%;
}
@media (max-width: 992px) {
  .loading-screen img {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .loading-screen img {
    width: 300px;
  }
}
@media (max-width: 576px) {
  .loading-screen img {
    width: 250px;
  }
}
@media (max-width: 414px) {
  .loading-screen img {
    width: 200px;
  }
}
.loading-screen .intro {
  position: absolute;
  font-weight: 500;
  font-size: 70px;
  word-spacing: 50px;
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .loading-screen .intro {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .loading-screen .intro {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .loading-screen .intro {
    font-size: 35px;
  }
}
@media (max-width: 414px) {
  .loading-screen .intro {
    font-size: 30px;
  }
}
.loading-screen .intro p {
  top: 60%;
  left: -10%;
  width: 30000px;
  font-weight: 500;
  font-family: lineEN, sans serif;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}
@media (max-width: 992px) {
  .loading-screen .intro p {
    top: 52%;
  }
}

body#index .loading-screen img#indeximg {
  display: block;
}
body#index .loading-screen img#others {
  display: none;
}

body#about .loading-screen img#indeximg, body#work_graphic .loading-screen img#indeximg, body#work_photo .loading-screen img#indeximg, body#work_video .loading-screen img#indeximg, body#work_website .loading-screen img#indeximg, body#work .loading-screen img#indeximg {
  display: none;
}
body#about .loading-screen img#others, body#work_graphic .loading-screen img#others, body#work_photo .loading-screen img#others, body#work_video .loading-screen img#others, body#work_website .loading-screen img#others, body#work .loading-screen img#others {
  display: block;
}

.loading-screen.fade-out {
  -webkit-animation: fadeOut 0.5s forwards;
          animation: fadeOut 0.5s forwards;
}

.z-index0 {
  z-index: 1;
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}
nav .menu {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 768px) {
  nav .menu {
    display: none;
  }
}
nav .menu:hover {
  background-color: rgba(190, 190, 190, 0.43);
}
@media (max-width: 1366px) {
  nav .menu {
    padding: 0 80px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
@media (max-width: 992px) {
  nav .menu {
    padding: 0 40px;
  }
}
nav .menu .logo img {
  width: 200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
@media (max-width: 414px) {
  nav .menu .logo img {
    width: 160px;
  }
}
nav .menu .logo:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav .menu ul .about, nav .menu ul .work, nav .menu ul .contact {
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
nav .menu ul .about a, nav .menu ul .work a, nav .menu ul .contact a {
  text-decoration: none;
}
nav .menu ul .about a p, nav .menu ul .work a p, nav .menu ul .contact a p {
  display: block;
  color: black;
  font-family: "lineEN", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
nav .menu ul .about:hover p, nav .menu ul .work:hover p, nav .menu ul .contact:hover p {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 1366px) {
  nav .menu ul .about, nav .menu ul .work, nav .menu ul .contact {
    width: 150px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
@media (max-width: 992px) {
  nav .menu ul .about, nav .menu ul .work, nav .menu ul .contact {
    width: 130px;
  }
}
nav .menu ul li.work ul.sub-menu {
  position: absolute;
  top: 100%;
  background-color: #333;
  z-index: 4;
  width: 200px;
  display: none;
}
@media (max-width: 1366px) {
  nav .menu ul li.work ul.sub-menu {
    width: 150px;
  }
}
@media (max-width: 992px) {
  nav .menu ul li.work ul.sub-menu {
    width: 130px;
  }
}
nav .menu ul li.work:hover .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .menu ul li.contact {
  width: 250px;
}
@media (max-width: 1366px) {
  nav .menu ul li.contact {
    width: 200px;
  }
}
nav .menu ul li.contact a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0;
  color: white;
  font-family: "lineEN", sans-serif;
}
nav .menu ul li.contact a:hover {
  text-transform: uppercase;
}
nav .menu ul .sub-menu li {
  width: 100%;
}
nav .menu ul .sub-menu li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0;
  color: white;
  font-family: "lineEN", sans-serif;
}
nav .menu ul .sub-menu li:hover {
  text-transform: uppercase;
}
nav .menu.under_md {
  height: 100px;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
  display: none;
}
@media (max-width: 768px) {
  nav .menu.under_md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  nav .menu.under_md {
    padding: 0 30px;
  }
}
@media (max-width: 576px) {
  nav .menu.under_md {
    height: 80px;
  }
}
nav .menu.under_md .menu_icon {
  width: 60px;
  height: 60px;
  border: 1.8px solid #000;
  border-radius: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  cursor: pointer;
  z-index: 5;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_icon {
    width: 50px;
    height: 50px;
  }
}
nav .menu.under_md .menu_icon .icon_up {
  width: 28px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_icon .icon_up {
    width: 25px;
    top: 19px;
  }
}
nav .menu.under_md .menu_icon .icon_down {
  width: 28px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 35px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_icon .icon_down {
    width: 25px;
    top: 30px;
  }
}
nav .menu.under_md .open {
  -webkit-transform: translate(-30px, 40px);
          transform: translate(-30px, 40px);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
@media (max-width: 576px) {
  nav .menu.under_md .open {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    width: 60px;
    height: 60px;
  }
}
nav .menu.under_md .open .icon_up {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 19px;
  top: 39px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 40px;
}
@media (max-width: 576px) {
  nav .menu.under_md .open .icon_up {
    left: 11px;
    top: 29px;
    width: 35px;
  }
}
nav .menu.under_md .open .icon_down {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 39px;
  left: 19px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 40px;
}
@media (max-width: 576px) {
  nav .menu.under_md .open .icon_down {
    left: 11px;
    top: 29px;
    width: 35px;
  }
}
nav .menu.under_md .menu_sp {
  width: 100vw;
  height: 100vh;
  background-color: #d6d6d6;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
nav .menu.under_md .menu_sp ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 150px;
  left: 50px;
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp ul {
    left: 30px;
  }
}
@media (max-width: 414px) {
  nav .menu.under_md .menu_sp ul {
    left: 15px;
  }
}
nav .menu.under_md .menu_sp ul li {
  margin-bottom: 45px;
}
nav .menu.under_md .menu_sp ul li a {
  text-decoration: none;
  color: black;
  font-size: 100px;
  font-weight: 500;
  font-family: "lineEN", sans-serif;
}
@media (max-width: 768px) {
  nav .menu.under_md .menu_sp ul li a {
    font-size: 90px;
  }
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp ul li a {
    font-size: 55px;
  }
}
@media (max-width: 414px) {
  nav .menu.under_md .menu_sp ul li a {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  nav .menu.under_md .menu_sp ul li a {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  nav .menu.under_md .menu_sp ul li {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp ul li {
    margin-bottom: 30px;
  }
}
nav .menu.under_md .menu_sp ul li#home {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav .menu.under_md .menu_sp ul li#about {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav .menu.under_md .menu_sp ul li#work {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav .menu.under_md .menu_sp ul li#contact {
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav .menu.under_md .menu_sp a.logo_sp {
  position: absolute;
  right: 65px;
  bottom: 80px;
}
nav .menu.under_md .menu_sp a.logo_sp img {
  width: 200px;
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp a.logo_sp img {
    width: 160px;
  }
}
@media (max-width: 576px) {
  nav .menu.under_md .menu_sp a.logo_sp {
    right: 38px;
    bottom: 40px;
  }
}
nav .menu.under_md .open_sp {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
nav .menu.under_md .open_sp ul li#home {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
nav .menu.under_md .open_sp ul li#about {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
nav .menu.under_md .open_sp ul li#work {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
nav .menu.under_md .open_sp ul li#contact {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

#work_website nav .menu {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.1);
}
#work_website nav .menu:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.2);
}

footer {
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: lineEN, sans-serif;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  position: relative;
}
@media (max-width: 992px) {
  footer {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  footer {
    font-size: 16px;
    margin-top: 130px;
  }
}
@media (max-width: 576px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin-top: 80px;
  }
}
footer .email {
  padding: 20px;
  text-decoration: none;
  color: #000;
}
footer .email:hover {
  color: #585858;
}
@media (max-width: 576px) {
  footer .email {
    padding: 0;
  }
}
footer .copyright {
  padding: 20px;
}