body#work_video
    .modal
        .modal-body
            p
                padding-bottom: 20px
            .video
                position: relative
                width: 100%
                height: 0
                padding-bottom: 56.25%
                
                .yt
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
    #one_img
        .img
            background-image: url(../img/video/1.jpg)
    #eight_img
        .img
            background-image: url(../img/video/2.jpg)
    #two_img
        .img
            background-image: url(../img/video/3.jpg)
    #three_img
        .img
            background-image: url(../img/video/4.jpg)
    #four_img
        .img
            background-image: url(../img/video/5.jpg)
    #five_img
        .img
            background-image: url(../img/video/6.jpg)
    #six_img
        .img
            background-image: url(../img/video/7.jpg)
    #seven_img
        .img
            background-image: url(../img/video/8.jpg)
    #nine_img
        .img
            background-image: url(../img/video/9.jpg)
    #ten_img
        .img
            background-image: url(../img/video/10.jpeg)