body#work_video
    .modal
        .modal-body
            p
                padding-bottom: 20px
            .video
                position: relative
                width: 100%
                height: 0
                padding-bottom: 56.25%
                
                .yt
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
    #one_img
        .img
            background-image: url(../img/video/1.png)
    #eight_img
        .img
            background-image: url(../img/video/2.png)
    #two_img
        .img
            background-image: url(../img/video/3.png)
    #three_img
        .img
            background-image: url(../img/video/4.png)
    #four_img
        .img
            background-image: url(../img/video/5.png)
    #five_img
        .img
            background-image: url(../img/video/6.png)
    #six_img
        .img
            background-image: url(../img/video/7.png)
    #seven_img
        .img
            background-image: url(../img/video/8.png)