.loading-screen
    img(src="../resource/img/logo/logo_home.png", alt="")
    .intro 
        p webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   webs_te   graph_c   v_deo   ph_to   