nav 
    .menu.over_md
        a(href="../index.html").logo 
            img(src="../resource/img/logo/logo_home.png", alt="")
        ul
            li.about 
                a(href="about.html")
                    p about
            li.work 
                a(href="work.html")  
                    p work
                ul.sub-menu 
                    li
                        a(href="work_website.html") webs_te 
                    li 
                        a(href="#") graph_c  
                    li  
                        a(href="#") v_deo 
                    li 
                        a(href="#") ph_to 
                
            li.contact
                a(href="mailto:h7yostudio@gmail.com") 
                    p contact_me
    .menu.under_md
        a(href="../index.html").logo 
            img(src="../resource/img/logo/logo_home.png", alt="")
        .menu_icon
            .icon_up
            .icon_down
        .menu_sp
            ul 
                li#home 
                    a(href="../index.html") home
                li#about 
                    a(href="about.html") about
                li#work 
                    a(href="work.html") work  
                li#contact 
                    a(href="mailto:h7yostudio@gmail.com") contact_me
            
            a(href="pages/index.html").logo_sp 
                img(src="../resource/img/logo/logo_home.png", alt="")
            //- p.menuText menu
        //- ul
        //-     li.about 
        //-         a(href="../about.html")
        //-             p about
        //-     li.work 
        //-         p work
        //-         ul.sub-menu 
        //-             li
        //-                 a(href="work_website.html") webs_te 
        //-             li 
        //-                 a(href="#") graph_c  
        //-             li  
        //-                 a(href="#") v_deo 
        //-             li 
        //-                 a(href="#") ph_to 
                
        //-     li.contact
        //-         a(href="../contact.html")
        //-             p contact