doctype html
html(lang="en")
    include ../components/meta.pug

        link(rel="stylesheet", href="../resource/css/about.css")
        title h_7yo stud_o
    body#about 
        include ../components/nav.pug
        section
            .resume 
                .about#profile
                    .image 
                    .intro
                        .title.overmd 黃啟祐
                        .content.overmd Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit earum molestiae repellendus porro repudiandae doloremque, dolorem error distinctio omnis ad delectus enim magni saepe ratione. Error minus voluptate consectetur quod.
                    .title.undermd 黃啟祐
                    .content.undermd Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit earum molestiae repellendus porro repudiandae doloremque, dolorem error distinctio omnis ad delectus enim magni saepe ratione. Error minus voluptate consectetur quod.
                .about_exp
                    .title_big EXPERIENCE
                    .exp_chart#one
                        .exp 
                            .line
                            .title 
                                .dot 
                                h3 TITLE
                            .content 
                                .img.undersm
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusantium vero nihil aspernatur sequi atque, excepturi consequuntur deserunt. Temporibus labore quod porro quisquam qui tempora necessitatibus itaque doloribus, nesciunt reiciendis?
                        .img.oversm
                    .exp_chart#two
                        .exp 
                            .title 
                                .dot 
                                h3 TITLE
                            .content 
                                .img.undersm
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusantium vero nihil aspernatur sequi atque, excepturi consequuntur deserunt. Temporibus labore quod porro quisquam qui tempora necessitatibus itaque doloribus, nesciunt reiciendis?
                        .img.oversm
                    .exp_chart#three
                        .exp 
                            .title 
                                .dot 
                                h3 TITLE
                            .content 
                                .img.undersm
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusantium vero nihil aspernatur sequi atque, excepturi consequuntur deserunt. Temporibus labore quod porro quisquam qui tempora necessitatibus itaque doloribus, nesciunt reiciendis?
                        .img.oversm                    
                .about_skill
                    .title_big SKILLS
                    .d-flex 
                        .div 
                            .img
                            .title TITLE 
                            .content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid, explicabo distinctio incidunt vitae maxime animi laboriosam nemo iure commodi debitis expedita blanditiis pariatur sit repellendus quisquam dolore fugit odit?
                        .div 
                            .img
                            .title TITLE 
                            .content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid, explicabo distinctio incidunt vitae maxime animi laboriosam nemo iure commodi debitis expedita blanditiis pariatur sit repellendus quisquam dolore fugit odit?
                        .div 
                            .img
                            .title TITLE 
                            .content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid, explicabo distinctio incidunt vitae maxime animi laboriosam nemo iure commodi debitis expedita blanditiis pariatur sit repellendus quisquam dolore fugit odit?
                .about_icon
                    .title_big SKILLS 
                    .d-flex 
                        .img
                        .img
                        .img 
                        .img 
                        .img 
                        .img 
                        .img     
        include ../components/footer.pug
        include ../components/script.pug