doctype html
html(lang="en")
    include ../components/meta.pug
    meta(property="og:title" content="h_7yo stud_o")
    meta(property="og:description" content="h_7yo 黃啟祐作品集") 
    meta(property="og:type" content="website" ) 
    meta(property="og:url" content="https://sbsy1517.github.io/h7yoStudio/" ) 
    
    meta(name="twitter:title" content="h_7yo stud_o")
    meta(name="twitter:description" content="h_7yo 黃啟祐作品集")
    meta(name="twitter:url" content="https://sbsy1517.github.io/h7yoStudio/")
    meta(property="og:image" content="../resource/img/logo/meta.jpg")  
    meta(name="twitter:image" content="../resource/img/logo/meta.jpg")

    link(rel="stylesheet", href="../resource/css/about.css")
    title h_7yo stud_o
    
    body.disable-scroll#about 
        include ../components/loading.pug
        include ../components/nav.pug
        section
            .resume 
                .about#profile
                    .image 
                    .intro
                        .title.overmd 黃啟祐
                        .content.overmd 目前定居於台北，在日系廣告公司擔任
                            span.bold 網頁行銷設計師
                            |，主要負責設計與開發網站，並了解客戶需求，提供創意解決方案。同時具備廣告設計、商品人像拍攝、影片拍攝剪輯和多媒體製作等專業技能。
                            br 
                            br
                            |我喜歡挑戰自己，不斷學習和探索新的設計理念和技術。具備良好的溝通和團隊合作能力，能夠與不同背景和專業的人合作，共同完成專案。我注重細節和品質，並且能夠在壓力下保持良好的工作效率。
                            br
                            br
                            |平常工作外的興趣，喜歡拍攝、自由潛水、衝浪，這些事能讓我感到輕鬆。
                    .title.undermd 黃啟祐
                    .content.undermd 目前於定居於台北，在日系廣告公司擔任 
                        br
                        span.bold 網頁設計師
                        |，主要負責設計與開發網站、數位廣告設計、拍攝、製作等，並與客戶合作，了解其需求並提供創意解決方案。同時具備廣告設計、商品人像拍攝、影片拍攝剪輯和多媒體製作等專業技能。
                        br
                        br
                        |我喜歡挑戰自己，不斷學習和探索新的設計理念和技術。具備良好的溝通和團隊合作能力，能夠與不同背景和專業的人合作，共同完成專案。
                        br
                        br
                        |我注重細節和品質，並且能夠在壓力下保持良好的工作效率。平常工作外的興趣，喜歡拍攝、自由潛水、衝浪，這些事能讓我感到輕鬆。
                .about_exp
                    .title_big EXPERIENCE
                    .exp_chart#one
                        .exp 
                            .line
                            .title 
                                .dot 
                                .wrap
                                    img(src="../resource/img/about/ma.jpg", alt="").under_sm
                                    h3 台灣微告 - 資深設計師
                                        br
                                        span MicroAd Taiwan
                                    p 2020.04 ~ 現在
                                img(src="../resource/img/about/ma.jpg", alt="").over_sm
                            .content 
                                
                                
                                p.job 創建一頁式活動網站，幫助國外客戶進入台灣市場
                                    br
                                    br
                                    | 擔任數位行銷專案設計，曾經手參與過 MUJI / 犀牛盾 / DMM / SOU SOU / 朵茉麗蔻 / 愛德嵐絲 / Oribs / Pinkoi / bic camera / SEGA /日本政府等多家知名公司專案
                                    br
                                    br
                                    | 目前擔任公司電商品牌 漢城淨雪 主要負責人之一，協助活動企畫發想/品牌設計/網站維護
                                    br
                                    br
                                    | 公司廣告系統COMPASS，幫助調整與合作媒體的廣告樣式
                                    br
                                    br
                                    | 拍攝剪輯廣告用影片以及商品照
                        //- .img.oversm
                    .exp_chart#two
                        .exp 
                            .line
                            .title 
                                .dot 
                                .wrap
                                    img(src="../resource/img/about/25togo.jpg", alt="").under_sm
                                    h3 25togo - 產品實習生
                                        br
                                        span 安喬欣業
                                    p 2018.07 ~ 2018.08
                                img(src="../resource/img/about/25togo.jpg", alt="").over_sm
                            .content 
                                
                                
                                p.job 協助公司開發文創商品
                                    br
                                    br
                                    | 開發摺紙包Oribagu品牌運動版本
                                    br
                                    br
                                    | 皮革手機殼設計打樣製作
                                    
                    .exp_chart#three
                        .exp 
                            .line
                            .title 
                                .dot 
                                .wrap
                                    img(src="../resource/img/about/nknu.jpg", alt="").under_sm
                                    h3 高雄師範大學 - 畢業
                                        br
                                        span 工業設計學系
                                    p 2015.09 ~ 2019.06
                                img(src="../resource/img/about/nknu.jpg", alt="").over_sm
                .about_skill
                    .title_big SKILLS
                    .d-flex 
                        .div 
                            img(src="../resource/img/about/coding.jpg", alt="")
                            .title 網站設計 
                            .content 熟悉HTML、CSS、JavaScript及Bootstrap等技術，可一手包辦從設計到切版一頁式、RWD、官網風格網站。以設計原則為基礎，同時理解程式，創造美觀易用的界面，提升互動性和視覺效果。
                        .div 
                            img(src="../resource/img/about/design.jpg", alt="")
                            .title 廣告平面 
                            .content 熟悉Adobe Photoshop和Illustrator，並了解數位行銷。在迅速變化的市場中，能夠快速製作品牌廣告素材、橫幅，並融合媒體數據進行即時調整和AB測試。我注重美感，確保廣告在外觀和效果上雙贏。
                        .div 
                            img(src="../resource/img/about/photography.jpg", alt="")
                            .title 影像拍攝剪輯 
                            .content 擅長影像拍攝、商品攝影以及影片製作。憑藉豐富的拍攝經驗，能夠捕捉商品的最佳角度和光線，呈現出引人注目的效果。能夠透過影片傳達想法和品牌故事，讓人能深入了解產品價值。
                .about_icon
                    .d-flex 
                        img.adobe(src="../resource/img/about/ps.jpg", alt="") 
                        img.adobe(src="../resource/img/about/ai.jpg", alt="")     
                        img.adobe(src="../resource/img/about/lr.jpg", alt="")
                        img.adobe(src="../resource/img/about/pr.jpg", alt="")
                        img.adobe(src="../resource/img/about/id.jpg", alt="")
                        img(src="../resource/img/about/html.jpg", alt="")
                        img(src="../resource/img/about/css.jpg", alt="")
                        img(src="../resource/img/about/js.jpg", alt="")
                        
        include ../components/footer.pug
        include ../components/script.pug