doctype html
html(lang="en")
    include ../components/meta.pug

        link(rel="stylesheet", href="../resource/css/work.css")
        title h_7yo stud_o
    body#work_website 
        include ../components/nav.pug  

        header 
            a(href="work.html").back_btn
                svg#backicon(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 763.34 606.76')
                    g#backicon_g
                        path.cls-1(d='m13.08,322.55l722.17,282.77c13.5,5.29,28.09-4.67,28.09-19.17V20.61c0-14.5-14.59-24.46-28.09-19.17L13.08,284.21c-17.44,6.83-17.44,31.51,0,38.34Z')

                
                .title_back back
            .title webs_te 
            
        section
            //- .block#zero_img(data-bs-toggle="modal" data-bs-target="#block0")
                .img
                    
                .title MicroAd Taiwan 官網
                .intro 
                    p 台灣微告官網改版時，主要負責參與網站部分頁面設計與廠商協作溝通，
                
                
            
            //- .modal.fade#block0(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 MicroAd Taiwan 官網
                                p Workers' Fitness 是學習 rwd, jquery, js後，練習嘗試做一個大的網站群，統整目前為止所了解的網頁知識。而因為之前大學時期在健身房工作，對健身產業有程度上的了解，並有很多元素可以發揮，所以選擇健身房作為主題。
                                a(href="http://microad.tw/" target="_blank") 
                                    img#fv(src="../resource/img/website/23.jpg", alt="")
                                img(src="../resource/img/website/2.jpg", alt="")
            .block#one_img(data-bs-toggle="modal" data-bs-target="#block1")
                .img
                    
                .title Workers' Fitness
                .intro 
                    p Workers' Fitness 是學習 rwd, jquery, js後，練習嘗試做一個大的網站群，統整目前為止所了解的網頁知識。而因為之前大學時期在健身房工作，對健身產業有程度上的了解，並有很多元素可以發揮，所以選擇健身房作為主題。
                
                
            
            .modal.fade#block1(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 Workers' Fitness
                                p Workers' Fitness 是學習 rwd, jquery, js後，練習嘗試做一個大的網站群，統整目前為止所了解的網頁知識。而因為之前大學時期在健身房工作，對健身產業有程度上的了解，並有很多元素可以發揮，所以選擇健身房作為主題。
                                a(href="https://sbsy1517.github.io/Workers-Fitness/" target="_blank") 
                                    img#fv(src="../resource/img/website/1.jpg", alt="")
                                img(src="../resource/img/website/2.jpg", alt="")
            .block#eight_img(data-bs-toggle="modal" data-bs-target="#block8")
                .img
                .title  Jeogseoul 漢城淨雪
                .intro 
                    p 漢城淨雪為台灣微告代理商品，主要販售韓系積雪草保養品，系統使用為WACA，主要負責內容為商城網頁架設維護，素材製作，廣告製作，商品圖及內容介紹製作等。
                    
            .modal.fade#block8(ytabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 Jeogseoul 漢城淨雪
                                p 漢城淨雪為台灣微告代理商品，主要販售韓系積雪草保養品，系統使用為WACA，主要負責內容為商城網頁架設維護，素材製作，廣告製作，商品圖及內容介紹製作等。
                                a(href="https://www.jeogseoul.tw/" target="_blank") 
                                    img#fv(src="../resource/img/website/25.jpg", alt="")
                                img(src="../resource/img/website/28.jpg", alt="")
            .block#two_img(data-bs-toggle="modal" data-bs-target="#block2")
                .img
                    
                .title 貓咪週間 - Japaholic
                .intro 
                    p 此專案為台灣微告網路媒體-Japaholic的活動一頁式網站。使用HTML和CSS加上jQuery做動畫效果來構成網頁，主要負責設計架構、前端製作及RWD設計。
                    
                
                
            
            .modal.fade#block2(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 貓咪週間 by Japaholic
                                p 此專案為台灣微告網路媒體-Japaholic的活動一頁式網站。使用HTML和CSS加上jQuery做動畫效果來構成網頁，主要負責設計架構、前端製作及RWD設計。
                                a(href="https://sbsy1517.github.io/meow.text/" target="_blank") 
                                    img#fv(src="../resource/img/website/fv2.jpg", alt="")
                                img(src="../resource/img/website/3.jpg", alt="")
            
            .block#three_img(data-bs-toggle="modal" data-bs-target="#block3")
                .img
                    
                .title 桌上談冰 - 口袋日本
                .intro 
                    p 此專案為台灣微告網路媒體-口袋日本的一頁式活動網站。活動關於配合鬼月而生的企劃，與台北三間冰店合作，共同推出聯名冰品。使用HTML和CSS加上jQuery做動畫效果來構成網頁，主要負責設計架構、前端製作及RWD設計。
                    
                
                
            
            .modal.fade#block3(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 桌上談冰 - 口袋日本
                                p 此專案為台灣微告網路媒體-口袋日本的一頁式活動網站。活動關於配合鬼月而生的企劃，與台北三間冰店合作，共同推出聯名冰品。
                                    br
                                    |使用HTML和CSS加上jQuery做動畫效果來構成網頁，主要負責設計架構、前端製作及RWD設計。
                                a(href="https://sbsy1517.github.io/pocket_japan_ice/" target="_blank") 
                                    img#fv(src="../resource/img/website/fv30.jpg", alt="")
                                img(src="../resource/img/website/07.jpg", alt="")

            .block#four_img(data-bs-toggle="modal" data-bs-target="#block4")
                .img
                    
                .title 心理測驗 - 口袋日本
                .intro 
                    p 此專案為台灣微告網路媒體-口袋日本的心理測驗活動網站。
                        br
                        |使用HTML和CSS加上Javascript做計算選項配分來構成題目網頁，主要負責設計架構、前端製作及RWD設計。
                    
                
                
            
            .modal.fade#block4(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 心理測驗 - 口袋日本
                                p 此專案為台灣微告網路媒體-口袋日本的心理測驗活動網站。
                                    br
                                    |使用HTML和CSS加上Javascript做計算選項配分來構成題目網頁，主要負責設計架構、前端製作及RWD設計。
                                a(href="https://sbsy1517.github.io/pocket_japan_test/" target="_blank") 
                                    img#fv(src="../resource/img/website/09.jpg", alt="")
                                img(src="../resource/img/website/21.jpg", alt="")

            .block#five_img(data-bs-toggle="modal" data-bs-target="#block5")
                .img#fv5
                .title  Aderans 愛德蘭絲
                .intro 
                    p 為日本假髮品牌 - 愛德嵐絲製作一頁式網站，製作男女生各一版，使用HTML、CSS、Bootstrap、jquery，主要負責設計樣式、前端製作及RWD設計。
                    
            .modal.fade#block5(ytabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 Aderans 愛德蘭絲
                                p 為日本假髮品牌 - 愛德嵐絲製作一頁式網站，製作男女生各一版，使用HTML、CSS、Bootstrap、jquery，主要負責設計樣式、前端製作及RWD設計。
                                a(href="https://sbsy1517.github.io/Aderans-male-wig-testpage/" target="_blank") 
                                    img#fv(src="../resource/img/website/10.jpg", alt="")
                                a(href="https://sbsy1517.github.io/Aderans-female-wig-testpage/" target="_blank") 
                                    img#fv(src="../resource/img/website/11.jpg", alt="")
                                img(src="../resource/img/website/12.jpg", alt="")

            .block#six_img(data-bs-toggle="modal" data-bs-target="#block6")
                .img
                .title  西川會計事務所
                .intro 
                    p 西川會計事務所為國際公司，此專案客戶指定使用WIX製作網站，並同時製作多國語言頁面。
                    
            .modal.fade#block6(ytabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 西川會計事務所
                                p 西川會計事務所為國際公司，此專案客戶指定使用WIX製作網站，並同時製作多國語言頁面。
                                a(href="https://www.nishikawa-associates.com/zh" target="_blank") 
                                    img#fv(src="../resource/img/website/fv6.jpg", alt="")

            .block#seven_img(data-bs-toggle="modal" data-bs-target="#block7")
                .img
                .title  Japaholic x SOU SOU 
                .intro 
                    p 此專案為Japaholic 與日本京都印化設計品牌SOU SOU合作聯名野餐墊，這裏主要負責產品顏色挑選、圖片網頁一頁式排版製作。
                    
            .modal.fade#block7(ytabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 Japaholic x SOU SOU 
                                p 此專案為Japaholic 與日本京都印化設計品牌SOU SOU合作聯名野餐墊，這裏主要負責產品顏色挑選、圖片網頁一頁式排版製作(內含商品拍攝/標籤製作)。
                                img#fv2(src="../resource/img/website/17.jpg", alt="")
                                img(src="../resource/img/website/20.jpg", alt="")

            
        include ../components/footer.pug
        include ../components/script.pug