doctype html
html(lang="en")
    include ../components/meta.pug

        link(rel="stylesheet", href="../resource/css/work.css")
        title h_7yo stud_o
    body#work 
        include ../components/nav.pug

        section#work
            
            .boxxx
                .d-flex
                    a(href="work_website.html").wrap
                        .title webs_te
                        
                        .carousel.slide.website(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                .carousel-item#website2
                                .carousel-item#website3
                                .carousel-item#website4
                                .carousel-item#website5
                                .carousel-item#website6
                                .carousel-item#website7
                                .carousel-item#website8

                    a(href="work_graphic.html").wrap
                        .title graph_c
                        .carousel.slide.graphic(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                .carousel-item#graphic2
                                .carousel-item#graphic3
                                .carousel-item#graphic4
                                .carousel-item#graphic5
                                .carousel-item#graphic6
                                .carousel-item#graphic7
                                .carousel-item#graphic8
                                .carousel-item#graphic9
                                .carousel-item#graphic10
                .d-flex
                    a(href="work_video.html").wrap
                        .title v_deo
                        .carousel.slide.video(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                .carousel-item#video2
                                .carousel-item#video3
                                .carousel-item#video4
                                .carousel-item#video5
                                .carousel-item#video6
                                .carousel-item#video7
                                .carousel-item#video8
                    a(href="work_photo.html").wrap
                        .title ph_to
                        .carousel.slide.photo(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                .carousel-item#photo2
                                .carousel-item#photo3
                                .carousel-item#photo4
                                .carousel-item#photo5
                                .carousel-item#photo6
                                .carousel-item#photo7
                                .carousel-item#photo8
                                .carousel-item#photo9
                                .carousel-item#photo10
                                .carousel-item#photo11
                                .carousel-item#photo12
                                .carousel-item#photo13
                                .carousel-item#photo14
                                .carousel-item#photo15

        include ../components/footer.pug
        include ../components/script.pug