doctype html
html(lang="en")
    include ../components/meta.pug
    meta(property="og:title" content="h_7yo stud_o")
    meta(property="og:description" content="h_7yo 黃啟祐作品集") 
    meta(property="og:type" content="website" ) 
    meta(property="og:url" content="https://sbsy1517.github.io/h7yoStudio/" ) 
    meta(property="og:image" content="../resource/img/logo/line.jpg")  
    
    meta(name="twitter:title" content="h_7yo stud_o")
    meta(name="twitter:description" content="h_7yo 黃啟祐作品集")
    meta(name="twitter:url" content="https://sbsy1517.github.io/h7yoStudio/")
    
    meta(name="twitter:image" content="../resource/img/logo/line.jpg")
    link(rel="stylesheet", href="../resource/css/work.css")
    title h_7yo stud_o
    body.disable-scroll#work_video
        include ../components/loading.pug
        include ../components/nav.pug  

        header 
            a(href="work.html").back_btn
                svg#backicon(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 763.34 606.76')
                    g#backicon_g
                        path.cls-1(d='m13.08,322.55l722.17,282.77c13.5,5.29,28.09-4.67,28.09-19.17V20.61c0-14.5-14.59-24.46-28.09-19.17L13.08,284.21c-17.44,6.83-17.44,31.51,0,38.34Z')

                
                .title_back back
            .title v_deo
            
        section
            .block#one_img(data-bs-toggle="modal" data-bs-target="#block1")
                .img
                    
                .title 2022.09 LANYU VLOG
                .intro 
                    p 去蘭嶼時腦裡浮出的音樂是Radwimps的セプテンバーさん(9月小姐)剛好去的時候也是9月，就用這首剪了這支VLOG
                
                
            
            .modal.fade#block1(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 2022.09 LANYU VLOG
                                p 去蘭嶼時腦裡浮出的音樂是Radwimps的セプテンバーさん(9月小姐)剛好去的時候也是9月，就用這首剪了這支VLOG
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/KwO3GvYTivQ?si=SQ9XmUb6Gusezt1G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
            .block#eight_img(data-bs-toggle="modal" data-bs-target="#block8")
                .img
                .title  2022.08 綠島 VLOG
                .intro 
                    p 2022年的八月去了一趟綠島，那時候剛接觸自由潛水沒多久，來了綠島之後深深愛上這片大海，並記錄了在島上的快樂。
                    
            .modal.fade#block8(ytabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 2022.08 綠島 VLOG
                                p 2022年的八月去了一趟綠島，那時候剛接觸自由潛水沒多久，來了綠島之後深深愛上這片大海，並記錄了在島上的快樂。
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/OVuxu-6OnlM?si=Li19Q91LBQWBpIBN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
            .block#two_img(data-bs-toggle="modal" data-bs-target="#block2")
                .img
                    
                .title 第12回台灣微告總會
                .intro 
                    p 第12回的台灣微告總會影片。主題為：展望未來，疫情期間，大家即使受疫情的困擾，卻還是能共同努力成長，並期許新的一年可以超越過去的自已，展望更好的未來。
                        br
                        |主要負責影片全部(腳本、拍攝及剪輯)，其中預告為無腳本並在當天拍攝當天剪輯當晚發布
                    
                
                
            
            .modal.fade#block2(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 第12回台灣微告總會
                                p 第12回的台灣微告總會影片。主題為：展望未來，疫情期間，大家即使受疫情的困擾，卻還是能共同努力成長，並期許新的一年可以超越過去的自已，展望更好的未來。
                                    br
                                    |主要負責影片全部(腳本、拍攝及剪輯)，其中預告為無腳本並在當天拍攝當天剪輯當晚發布
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/8ZBra2P8570?si=YIhxxkheI2yY4y8q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/NzARsSurwr0?si=8951CLyM33Utglen" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/AsBotzZiISI?si=EJfoYUqO7l7mRDt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://youtube.com/embed/gbnwb7G603U?si=0TuTUGEFnRarKMGL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/L1AOap4WUb4?si=-158TBKd0uAkM9eO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/IZBkVV8VSP8?si=9lbcWX255IJes92l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/VQXL8htUkpE?si=9-TGQ77DL3yIAYGd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .w-100
            
            .block#three_img(data-bs-toggle="modal" data-bs-target="#block3")
                .img
                    
                .title 第11回台灣微告總會
                .intro 
                    p 第11回的台灣微告總會影片，主要負責腳本、拍攝及剪輯。主題為：成長，公司9年來，從原本的4人，逐漸成長成60人的公司，也換了四次辦公室，這一路走來充滿了大家共同奮鬥的回憶。影片從大家上班路途的樣子從第一間辦公室到現在的辦公室，傳達公司的成長，最後由社長向大家說早安，展開有元氣的每一天。
                
                
            
            .modal.fade#block3(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 第11回台灣微告總會
                                p 第11回的台灣微告總會影片，主要負責腳本、拍攝及剪輯。主題為：成長，公司9年來，從原本的4人，逐漸成長成60人的公司，也換了四次辦公室，這一路走來充滿了大家共同奮鬥的回憶。影片從大家上班路途的樣子從第一間辦公室到現在的辦公室，傳達公司的成長，最後由社長向大家說早安，展開有元氣的每一天。
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/eKEzhPCpL3M?si=foYnu-OtKJw9TdsL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 

            .block#eleven_img(data-bs-toggle="modal" data-bs-target="#block11")
                .img
                    
                .title SOU SOU
                .intro 
                    p SOU SOU是個日本京都設計品牌，以「創造日本的新文化」為品牌概念，將京都織紋印花結合嶄新的設計，打造出融合傳統和風與現代時尚感的好設計。
                        br
                        |主要負責影片剪輯及設計製作
                        
                    
                
                
            
            .modal.fade#block11(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 SOU SOU
                                p SOU SOU是個日本京都設計品牌，以「創造日本的新文化」為品牌概念，將京都織紋印花結合嶄新的設計，打造出融合傳統和風與現代時尚感的好設計。
                                    br
                                    |主要負責影片剪輯及設計製作
                        
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/1CHtVjk7Yis?si=ok211obiBgtqB1rh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://youtube.com/embed/OBr4UWKhUg4?si=qmM9PVyTBWp6O83u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/Io0lTs4ai8g?si=yybO3wVVDqhfl5Kp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/tPZs7KpFVYs?si=MhwY2ejYVx1XjXXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/ZPatOLbruR8?si=9MIbmqeFjKQdCtll" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .w-100

            .block#ten_img(data-bs-toggle="modal" data-bs-target="#block10")
                .img
                    
                .title MUJI台東店二階段開幕
                .intro 
                    p 此影片為手機廣告影片，無印台東店發表全台首部「MUJI無印良品移動服務車。移動服務車是以解決台東狹長地形、單家門市無法滿足所有需求的問題。
                        br
                        |此片主要負責剪輯。
                        
                    
                
                
            
            .modal.fade#block10(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 MUJI台東店二階段開幕
                                p 此影片為手機廣告影片，無印台東店發表全台首部「MUJI無印良品移動服務車。移動服務車是以解決台東狹長地形、單家門市無法滿足所有需求的問題。
                                    br
                                    |此片主要負責剪輯。
                        
                                .video
                                    iframe.yt(src="https://youtube.com/embed/z-2xBkJt8Mw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
            
            .block#nine_img(data-bs-toggle="modal" data-bs-target="#block9")
                .img
                    
                .title 犀牛盾 
                .intro 
                    p 影片主要以情境劇，傳達生活中處處都有機會被他人偷窺手機/摔到手機/摔到手錶等，此時犀牛盾產品即可保護個人的隱私及手機手錶不受傷害。
                        br
                        |此片主要負責演飾各個生活情境的角色。
                        
                    
                
                
            
            .modal.fade#block9(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 犀牛盾
                                p 影片主要以情境劇，傳達生活中處處都有機會被他人偷窺手機/摔到手機/摔到手錶等，此時犀牛盾產品即可保護個人的隱私及手機手錶不受傷害。
                                    br
                                    |此片主要負責演飾各個生活情境的角色。
                        
                                .video
                                    iframe.yt(src="https://youtube.com/embed/XJ7bWWiP47o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/s5gdcjXlYRU?si=NQ9cdwN2tSHk6ABx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/D0LWu71q-y0?si=BknDrE8f-tfvkUmK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
                                .w-100



            .block#four_img(data-bs-toggle="modal" data-bs-target="#block4")
                .img
                    
                .title Oribs米潤美源素
                .intro 
                    p 此影片為廣告影片，主要以開箱實測影片手法，介紹ORBIS米潤美源素一個月的測試。
                        br
                        |此片主要負責拍攝及剪輯。
                        
                    
                
                
            
            .modal.fade#block4(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 Oribs米潤美源素
                                p 此影片為廣告影片，主要以開箱實測影片手法，介紹ORBIS米潤美源素一個月的測試。
                                    br
                                    |此片主要負責拍攝及剪輯。
                        
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/3-4EgH3OF2w?si=1zhXYhu1wubiZcUH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 
            .block#five_img(data-bs-toggle="modal" data-bs-target="#block5")
                .img#fv5
                .title  snova精華液
                .intro 
                    p 此影片為廣告影片，主要介紹商品的成分及使用方式，搭配不同角度度展現產品質地，最後介紹推廣品牌活動。
                        br
                        |此片主要負責拍攝及剪輯。
                    
            .modal.fade#block5(ytabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 snova精華液
                                p 此影片為廣告影片，主要介紹商品的成分及使用方式，搭配不同角度度展現產品質地，最後介紹推廣品牌活動。
                                    br
                                    |此片主要負責拍攝及剪輯。
                                
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/daKmMsVZrPA?si=zg1oI4I7iejhIBk_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 

            .block#six_img(data-bs-toggle="modal" data-bs-target="#block6")
                .img
                .title  朵茉麗蔻
                .intro 
                    p 此影片為廣告影片，主要介紹試用商品組使用順序及方式，搭配不同角度度展現產品質地，並以素人自己體驗心得加強吸引觀影者購買慾望。
                        br
                        |此片主要負責拍攝。
                    
            .modal.fade#block6(ytabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 朵茉麗蔻
                                p 此影片為廣告影片，主要介紹試用商品組使用順序及方式，搭配不同角度度展現產品質地，並以素人自己體驗心得加強吸引觀影者購買慾望。
                                    br
                                    |此片主要負責拍攝。 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/13kDmF8ZQyw?si=d_iOMK_XKLgWbIom" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 

            .block#seven_img(data-bs-toggle="modal" data-bs-target="#block7")
                .img
                .title Uka麴酵素
                .intro 
                    p 此影片為廣告影片，主要介紹商品食用方式，內容包含傳達健康身材保養知識以加強商品公信力，搭配瑜伽老師講解，及自己體驗心得加強吸引觀影者購買慾望。
                        br
                        |此片主要負責拍攝及剪輯。 
                    
            .modal.fade#block7(ytabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 uka麴酵素
                                p 此影片為廣告影片，主要介紹商品食用方式，內容包含傳達健康身材保養知識以加強商品公信力，搭配瑜伽老師講解，及自己體驗心得加強吸引觀影者購買慾望。
                                    br
                                    |此片主要負責拍攝及剪輯。 
                                .video
                                    iframe.yt(src="https://www.youtube.com/embed/T-zJ7SVnDWY?si=9e137OoAlChwteK9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen) 

            
        include ../components/footer.pug
        include ../components/script.pug

