doctype html
html(lang="en")
    include ../components/meta.pug

        link(rel="stylesheet", href="../resource/css/work.css")
        title h_7yo stud_o
    body.disable-scroll#work_photo
        include ../components/loading.pug
        include ../components/nav.pug  

        header 
            a(href="work.html").back_btn
                svg#backicon(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 763.34 606.76')
                    g#backicon_g
                        path.cls-1(d='m13.08,322.55l722.17,282.77c13.5,5.29,28.09-4.67,28.09-19.17V20.61c0-14.5-14.59-24.46-28.09-19.17L13.08,284.21c-17.44,6.83-17.44,31.51,0,38.34Z')

                
                .title_back back
            .title ph_to
            
        section
            .block#one_img(data-bs-toggle="modal" data-bs-target="#block1")
                .img
                    
                .title 人像攝影
                .intro 
                    p 平常最喜歡在公司樓頂上找同事拍人像照，忙碌的工作氣氛下，偶爾也要放鬆一下
                        br
                        |出遊喜歡去有海的地方走走，紀錄旅伴的笑容，映著晴水藍的光芒。
                
                
            
            .modal.fade#block1(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 人像
                                p 平常最喜歡在公司樓頂上找同事拍人像照，忙碌的工作氣氛下，偶爾也要放鬆一下
                                    br
                                    |出遊喜歡去有海的地方走走，紀錄旅伴的笑容，映著晴水藍的光芒。
                                .d-flex
                                    img(src="../resource/img/photo/profile/1.jpg", alt="") 
                                    img(src="../resource/img/photo/profile/2.jpg", alt="")
                                    img(src="../resource/img/photo/profile/3.jpg", alt="")
                                    img(src="../resource/img/photo/profile/4.jpg", alt="")
                                    img(src="../resource/img/photo/profile/5.jpg", alt="")
                                    img(src="../resource/img/photo/profile/6.jpg", alt="")
                                    img(src="../resource/img/photo/profile/7.jpg", alt="")
                                    img(src="../resource/img/photo/profile/8.jpg", alt="")
                                    img(src="../resource/img/photo/profile/9.jpg", alt="")
                                    img(src="../resource/img/photo/profile/10.jpg", alt="")
                                    img(src="../resource/img/photo/profile/11.jpg", alt="")
                                    img(src="../resource/img/photo/profile/12.jpg", alt="")
                                    img(src="../resource/img/photo/profile/13.jpg", alt="")
                                    img(src="../resource/img/photo/profile/14.jpg", alt="")
                                    img(src="../resource/img/photo/profile/15.jpg", alt="")
                                    img(src="../resource/img/photo/profile/16.jpg", alt="")
                                    img(src="../resource/img/photo/profile/17.jpg", alt="")
                                    img(src="../resource/img/photo/profile/18.jpg", alt="")
                                    img(src="../resource/img/photo/profile/19.jpg", alt="")
                                    img(src="../resource/img/photo/profile/20.jpg", alt="")
                                    img(src="../resource/img/photo/profile/21.jpg", alt="")
                                    img(src="../resource/img/photo/profile/22.jpg", alt="")
                                    img(src="../resource/img/photo/profile/23.jpg", alt="")
                                    img(src="../resource/img/photo/profile/24.jpg", alt="")
                                    img(src="../resource/img/photo/profile/25.jpg", alt="")
                                    img(src="../resource/img/photo/profile/26.jpg", alt="")
                                    img(src="../resource/img/photo/profile/27.jpg", alt="")
                                    img(src="../resource/img/photo/profile/28.jpg", alt="")
                                    img(src="../resource/img/photo/profile/29.jpg", alt="")
                                    img(src="../resource/img/photo/profile/30.jpg", alt="")
                                    img(src="../resource/img/photo/profile/31.jpg", alt="")
                                    img(src="../resource/img/photo/profile/32.jpg", alt="")
                                    img(src="../resource/img/photo/profile/33.jpg", alt="")
                                    img(src="../resource/img/photo/profile/34.jpg", alt="")
                                    img(src="../resource/img/photo/profile/35.jpg", alt="")
                                    img(src="../resource/img/photo/profile/36.jpg", alt="")
                                    .w-100

            .block#two_img(data-bs-toggle="modal" data-bs-target="#block2")
                .img
                    
                .title 風景攝影
                .intro 
                    p 喜歡去日本，覺得在日本拍照就會自動套上濾鏡白白淨淨的
                        br
                        |喜歡藍天、喜歡海、喜歡電車、喜歡高樓建築、喜歡貓
    
                
            
            .modal.fade#block2(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 風景攝影
                                p 喜歡去日本，覺得在日本拍照就會自動套上濾鏡白白淨淨的
                                    br
                                    |喜歡藍天、喜歡海、喜歡電車、喜歡高樓建築、喜歡貓
                                .d-flex
                                    img(src="../resource/img/photo/view/37.jpg", alt="") 
                                    img(src="../resource/img/photo/view/38.jpg", alt="")
                                    img(src="../resource/img/photo/view/39.jpg", alt="")
                                    img(src="../resource/img/photo/view/40.jpg", alt="")
                                    img(src="../resource/img/photo/view/41.jpg", alt="")
                                    img(src="../resource/img/photo/view/42.jpg", alt="")
                                    img(src="../resource/img/photo/view/43.jpg", alt="")
                                    img(src="../resource/img/photo/view/44.jpg", alt="")
                                    img(src="../resource/img/photo/view/45.jpg", alt="")
                                    img(src="../resource/img/photo/view/46.jpg", alt="")
                                    img(src="../resource/img/photo/view/47.jpg", alt="")
                                    img(src="../resource/img/photo/view/48.jpg", alt="")
                                    img(src="../resource/img/photo/view/49.jpg", alt="")
                                    img(src="../resource/img/photo/view/50.jpg", alt="")
                                    img(src="../resource/img/photo/view/51.jpg", alt="")
                                    img(src="../resource/img/photo/view/52.jpg", alt="")
                                    img(src="../resource/img/photo/view/53.jpg", alt="")
                                    img(src="../resource/img/photo/view/54.jpg", alt="")
                                    img(src="../resource/img/photo/view/55.jpg", alt="")
                                    img(src="../resource/img/photo/view/56.jpg", alt="")
                                    img(src="../resource/img/photo/view/57.jpg", alt="")
                                    img(src="../resource/img/photo/view/58.jpg", alt="")
                                    img(src="../resource/img/photo/view/59.jpg", alt="")
                                    img(src="../resource/img/photo/view/60.jpg", alt="")
                                    img(src="../resource/img/photo/view/61.jpg", alt="")
                                    img(src="../resource/img/photo/view/62.jpg", alt="")
                                    img(src="../resource/img/photo/view/63.jpg", alt="")
                                    img(src="../resource/img/photo/view/64.jpg", alt="")
                                    img(src="../resource/img/photo/view/65.jpg", alt="")
                                    img(src="../resource/img/photo/view/66.jpg", alt="")
                                    img(src="../resource/img/photo/view/67.jpg", alt="")
                                    img(src="../resource/img/photo/view/68.jpg", alt="")
                                    img(src="../resource/img/photo/view/69.jpg", alt="")
                                    img(src="../resource/img/photo/view/70.jpg", alt="")
                                    img(src="../resource/img/photo/view/71.jpg", alt="")
                                    img(src="../resource/img/photo/view/72.jpg", alt="")
                                    img(src="../resource/img/photo/view/73.jpg", alt="")
                                    .w-100


                                
            
            
        include ../components/footer.pug
        include ../components/script.pug
