doctype html
html(lang="en")
    include ../components/meta.pug
    meta(property="og:title" content="h_7yo stud_o")
    meta(property="og:description" content="h_7yo 黃啟祐作品集") 
    meta(property="og:type" content="website" ) 
    meta(property="og:url" content="https://sbsy1517.github.io/h7yoStudio/" ) 
    
    meta(name="twitter:title" content="h_7yo stud_o")
    meta(name="twitter:description" content="h_7yo 黃啟祐作品集")
    meta(name="twitter:url" content="https://sbsy1517.github.io/h7yoStudio/")
    meta(property="og:image" content="resource/img/logo/meta/jpg")  
    meta(name="twitter:image" content="resource/img/logo/meta/jpg")
    link(rel="stylesheet", href="../resource/css/work.css")
    title h_7yo stud_o
    body.disable-scroll#work_graphic
        include ../components/loading.pug
        include ../components/nav.pug  

        header 
            a(href="work.html").back_btn
                svg#backicon(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 763.34 606.76')
                    g#backicon_g
                        path.cls-1(d='m13.08,322.55l722.17,282.77c13.5,5.29,28.09-4.67,28.09-19.17V20.61c0-14.5-14.59-24.46-28.09-19.17L13.08,284.21c-17.44,6.83-17.44,31.51,0,38.34Z')

                
                .title_back back
            .title graph_c
            
        section
            .block#one_img(data-bs-toggle="modal" data-bs-target="#block1")
                .img
                    
                .title SOU SOU
                .intro 
                    p SOU SOU是個日本京都設計品牌，以「創造日本的新文化」為品牌概念，將京都織紋印花結合嶄新的設計，打造出融合傳統和風與現代時尚感的好設計。
                        br
                        |主要負責SOU SOU品牌網路廣告行銷專案設計製作
            .modal.fade#block1(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 SOU SOU
                                p SOU SOU是個日本京都設計品牌，以「創造日本的新文化」為品牌概念，將京都織紋印花結合嶄新的設計，打造出融合傳統和風與現代時尚感的好設計。
                                    br
                                    |主要負責SOU SOU品牌網路廣告行銷專案設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/sousou/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/sousou/2.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/3.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/4.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/5.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/6.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/7.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/8.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/9.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/10.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/11.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/12.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/13.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/14.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/15.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/16.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/17.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/19.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/18.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/20.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/21.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/22.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/23.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/24.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/25.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/26.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/27.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/28.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/29.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/30.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/31.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/32.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/33.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/34.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/35.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/36.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/37.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/38.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/39.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/40.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/41.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/42.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/43.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/44.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/45.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/46.jpg", alt="")
                                    .w-100

            .block#two_img(data-bs-toggle="modal" data-bs-target="#block2")
                .img
                    
                .title COVERMARK
                .intro 
                    p COVERMARK為日本百貨專櫃化妝品品牌，對於廣告品質有高度要求以符合品牌形象
                        br
                        |主要負責品牌網路行銷廣告設計製作
            .modal.fade#block2(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 COVERMARK
                                p COVERMARK為日本百貨專櫃化妝品品牌，對於廣告品質有高度要求以符合品牌形象
                                    br
                                    |主要負責品牌網路行銷廣告設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/covermark/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/covermark/2.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/3.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/4.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/5.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/6.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/7.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/8.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/9.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/10.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/11.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/12.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/13.jpg", alt="")
                                    img(src="../resource/img/graphic/covermark/14.jpg", alt="")
                                    
                                    .w-100

            .block#three_img(data-bs-toggle="modal" data-bs-target="#block3")
                .img
                    
                .title Jeogseoul 漢城淨雪
                .intro 
                    p 漢城淨雪為台灣微告代理商品，主要販售韓系積雪草保養品，系統使用為WACA
                        br
                        |主要負責內容為商城網頁架設維護，素材製作，廣告製作，商品圖及內容介紹製作等
            .modal.fade#block3(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 Jeogseoul 漢城淨雪
                                p 漢城淨雪為台灣微告代理商品，主要販售韓系積雪草保養品，系統使用為WACA
                                    br
                                    |主要負責內容為商城網頁架設維護，素材製作，廣告製作，商品圖及內容介紹製作等
                                .d-flex
                                    img.w100(src="../resource/img/graphic/jeogseoul/00.jpg", alt="") 
                                    img(src="../resource/img/graphic/jeogseoul/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/jeogseoul/2.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/3.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/4.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/5.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/6.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/7.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/8.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/9.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/10.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/11.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/12.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/13.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/14.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/15.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/16.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/17.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/18.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/19.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/20.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/21.jpg", alt="")
                                    img(src="../resource/img/graphic/jeogseoul/22.jpg", alt="")
                                    .w-100

            .block#four_img(data-bs-toggle="modal" data-bs-target="#block4")
                .img
                    
                .title MUJI 台東店
                .intro 
                    p 無印台東店發表全台首部「MUJI無印良品移動服務車。移動服務車是以解決台東狹長地形、單家門市無法滿足所有需求的問題。
                        br
                        |主要負責台東店初期SNS素材設計製作
            .modal.fade#block4(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 MUJI 台東店
                                p 無印台東店發表全台首部「MUJI無印良品移動服務車。移動服務車是以解決台東狹長地形、單家門市無法滿足所有需求的問題。
                                    br
                                    |主要負責台東店初期SNS素材設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/muji/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/muji/2.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/3.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/4.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/5.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/6.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/7.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/8.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/9.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/10.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/11.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/12.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/13.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/14.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/15.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/16.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/17.jpg", alt="")
                                    img(src="../resource/img/graphic/muji/18.jpg", alt="")
                                    .w-100

            .block#five_img(data-bs-toggle="modal" data-bs-target="#block5")
                .img
                    
                .title DANDY HOUSE
                .intro 
                    p Dandy House為日本首間男仕專用的美容美體沙龍品牌
                        br
                        |主要負責品牌網路行銷廣告設計製作
            .modal.fade#block5(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 DANDY HOUSE
                                p Dandy House為日本首間男仕專用的美容美體沙龍品牌
                                    br
                                    |主要負責品牌網路行銷廣告設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/dandyhouse/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/dandyhouse/2.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/3.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/4.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/5.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/6.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/7.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/8.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/9.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/10.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/11.jpg", alt="")
                                    img(src="../resource/img/graphic/dandyhouse/12.jpg", alt="")
                                    
                                    .w-100



            .block#seven_img(data-bs-toggle="modal" data-bs-target="#block7")
                .img
                    
                .title SEGA
                .intro 
                    p SEGA為日本知名跨國電子遊戲開發商、大型電玩硬體及遊戲開發商
                        br
                        |主要負責品牌活動檔期SNS圖文設計製作
            .modal.fade#block7(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 SEGA
                                p SEGA為日本知名跨國電子遊戲開發商、大型電玩硬體及遊戲開發商
                                    br
                                    |主要負責品牌活動檔期SNS圖文設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/sega/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/sega/2.jpg", alt="")
                                    img(src="../resource/img/graphic/sega/3.jpg", alt="")
                                    img(src="../resource/img/graphic/sega/4.jpg", alt="")
                                    img(src="../resource/img/graphic/sega/5.jpg", alt="")
                                    img(src="../resource/img/graphic/sega/6.jpg", alt="")
                                    .w-100


            .block#eight_img(data-bs-toggle="modal" data-bs-target="#block8")
                .img
                    
                .title DMM.com
                .intro 
                    p DMM.com是知名日本大型子商務網站，旗下公司提供多元娛樂性網路服務
                        br
                        |主要負責DMM.com R18網路遊戲廣告設計製作
            .modal.fade#block8(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 DMM.com
                                p DMM.com是知名日本大型子商務網站，旗下公司提供多元娛樂性網路服務
                                    br
                                    |主要負責DMM.com R18網路遊戲廣告設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/dmm/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/dmm/2.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/3.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/4.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/5.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/6.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/7.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/8.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/9.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/10.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/11.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/12.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/13.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/14.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/15.jpg", alt="")
                                    img(src="../resource/img/graphic/dmm/16.jpg", alt="")
                                    .w-100


            .block#nine_img(data-bs-toggle="modal" data-bs-target="#block9")
                .img
                    
                .title BicCamera
                .intro 
                    p BicCamera 旗下品牌 Sofmap 為個人電腦和消費電子產品零售商
                        br
                        |主要負責品牌活動檔期網路廣告設計製作
            .modal.fade#block9(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 BicCamera
                                p BicCamera 旗下品牌 Sofmap 為個人電腦和消費電子產品零售商
                                    br
                                    |主要負責品牌活動檔期網路廣告設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/biccamera/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/biccamera/2.jpg", alt="")
                                    img(src="../resource/img/graphic/biccamera/3.jpg", alt="")
                                    img(src="../resource/img/graphic/biccamera/4.jpg", alt="")
                                    img(src="../resource/img/graphic/biccamera/5.jpg", alt="")
                                    img(src="../resource/img/graphic/biccamera/6.jpg", alt="")
                                    .w-100

            .block#ten_img(data-bs-toggle="modal" data-bs-target="#block10")
                .img
                    
                .title 開運茨城
                .intro 
                    p 開運茨城為日本地方政府觀光廣告行銷活動
                        br
                        |主要負責品牌活動檔期網路廣告設計製作
            .modal.fade#block10(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 開運茨城
                                p 開運茨城為日本地方政府觀光廣告行銷活動
                                    br
                                    |主要負責品牌活動檔期網路廣告設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/ibaraki/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/ibaraki/2.jpg", alt="")
                                    img(src="../resource/img/graphic/ibaraki/3.jpg", alt="")
                                    img(src="../resource/img/graphic/ibaraki/4.jpg", alt="")
                                    img(src="../resource/img/graphic/ibaraki/5.jpg", alt="")
                                    img(src="../resource/img/graphic/ibaraki/6.jpg", alt="")
                                    .w-100

            .block#six_img(data-bs-toggle="modal" data-bs-target="#block6")
                .img
                    
                .title 霍普金斯診所
                .intro 
                    p 霍普金斯診所為提供體態雕塑及科學瘦身等服務
                        br
                        |主要負責品牌網路行銷廣告設計製作
            .modal.fade#block6(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")
                        .modal-body
                            .wraper
                                h3 霍普金斯診所
                                p 霍普金斯診所為提供體態雕塑及科學瘦身等服務
                                    br
                                    |主要負責品牌網路行銷廣告設計製作
                                .d-flex
                                    img(src="../resource/img/graphic/hopkins/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/hopkins/2.jpg", alt="")
                                    img(src="../resource/img/graphic/hopkins/3.jpg", alt="")
                                    img(src="../resource/img/graphic/hopkins/4.jpg", alt="")
                                    .w-100

        include ../components/footer.pug
        include ../components/script.pug