doctype html
html(lang="en")
    include ../components/meta.pug

        link(rel="stylesheet", href="../resource/css/work.css")
        title h_7yo stud_o
    body#work_graphic
        include ../components/nav.pug  

        header 
            a(href="work.html").back_btn
                svg#backicon(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 763.34 606.76')
                    g#backicon_g
                        path.cls-1(d='m13.08,322.55l722.17,282.77c13.5,5.29,28.09-4.67,28.09-19.17V20.61c0-14.5-14.59-24.46-28.09-19.17L13.08,284.21c-17.44,6.83-17.44,31.51,0,38.34Z')

                
                .title_back back
            .title graph_c
            
        section
            .block#one_img(data-bs-toggle="modal" data-bs-target="#block1")
                .img
                    
                .title SOU SOU
                .intro 
                    p 平常最喜歡在公司樓頂上找同事拍人像照，忙碌的工作氣氛下，偶爾也要放鬆一下
                        br
                        |出遊喜歡去有海的地方走走，紀錄旅伴的笑容，映著晴水藍的光芒。
            .modal.fade#block1(tabindex="-1" aria-labelledby="one" aria-hidden="true")
                .modal-dialog.modal-fullscreen.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                svg#crossIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 421.44 421.44" style="enable-background:new 0 0 421.44 421.44;" xml:space="preserve")
                                    g#crossIcon_g
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M5.66,5.66l410.12,410.12L5.66,5.66z")
                                        path(style="fill:none;stroke:#231815;stroke-width:16;stroke-miterlimit:10;" d="M415.78,5.66L5.66,415.78L415.78,5.66z")

                        .modal-body
                            .wraper
                                h3 SOU SOU
                                p 平常最喜歡在公司樓頂上找同事拍人像照，忙碌的工作氣氛下，偶爾也要放鬆一下
                                    br
                                    |出遊喜歡去有海的地方走走，紀錄旅伴的笑容，映著晴水藍的光芒。
                                .d-flex
                                    img(src="../resource/img/graphic/sousou/1.jpg", alt="") 
                                    img(src="../resource/img/graphic/sousou/2.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/3.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/4.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/5.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/6.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/7.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/8.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/9.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/10.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/11.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/12.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/13.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/14.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/15.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/16.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/17.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/18.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/19.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/20.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/21.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/22.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/23.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/24.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/25.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/26.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/27.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/28.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/29.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/30.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/31.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/32.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/33.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/34.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/35.jpg", alt="")
                                    img(src="../resource/img/graphic/sousou/36.jpg", alt="")
                                    .w-100

            
        include ../components/footer.pug
        include ../components/script.pug